@import "styles/utils";

.work-order-step-button-typeA {
  padding: 14px 20px;
  background: $color-gray-white;
  .inner {
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: $color-gray-800;
    border-radius: 3px;
    mix-blend-mode: normal;
    opacity: 0.3;
    .content {
      color: $color-gray-white;
      font-size: 14px;
      line-height: 23.68px;
      font-weight: 500;
    }
    .absolute-icon {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
    }
    &.active {
      opacity: 1;
    }
  }
}
