@import "styles/utils";

.delivery-landing {
  position: relative;
  .delivery-main {
    .delivery-header {
      padding: 0 15px;
      display: flex;
      justify-content: center;

      &.sticky-header {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        animation: aniStickyMount 0.1s ease-in-out forwards;
        z-index: 10;
      }
      &.static-header {
        position: static;
        animation: aniStickyUnMount 0.1s ease-in-out forwards;
      }
      .inner {
        background: #ffffff;
        width: 99%;
        padding: 4px 5px;
        box-shadow: 0px 0px 8px rgba(33, 40, 55, 0.12);
        border-radius: 8px;
        display: flex;
        position: relative;
        .delivery-tab {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-bottom: 4px;
          border-radius: 8px;
          z-index: 1;
          svg,
          path {
            fill: $color-gray-500;
            transition: all 0.1s ease-in-out;
          }
          .tab-text {
            font-size: 12px;
            line-height: 17.76px;
            letter-spacing: 1px;
            color: $color-gray-500;
            transition: all 0.1s ease-in-out;
          }

          &.active {
            //background: $color-primary-400;
            svg,
            path {
              fill: $color-gray-white;
            }
            .tab-text {
              color: $color-gray-white;
            }
          }
        }
        .animation-bg {
          //filter: drop-shadow(1px 1px 12px rgba(159, 52, 91, 0.2));
          box-shadow: 1px 1px 12px rgba(159, 52, 91, 0.2);
          position: absolute;
          margin: 4px 5px;
          top: 0px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          width: calc(99% / 3 - 2px);
          background: $color-primary-400;
          z-index: 0;
          border-radius: 8px;
          transition: transform 0.1s ease-in-out;
          &.request {
            transform: translateX(0%);
          }
          &.sent {
            transform: translateX(100%);
          }
          &.complete {
            transform: translateX(200%);
          }
        }
      }
    }
    .delivery-items {
      .delivery-item {
        padding: 0 20px;
        margin-bottom: 8px;
      }
    }
  }
}
