@mixin positionA{
  position:absolute;
  left:50%;
  top:50%;
  display: flex;
  transform: translate(-50%, -50%);
}

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-chart-wrap{
  margin:24px auto;
  width:163px;
  height:163px;
  position:relative;
  svg{
    position: relative;
    z-index: 3;
  }
  &:before{
    content: "";
    @include positionA;
    width:153px;
    height:153px;
    border-radius:50%;
    z-index: 1;
    background: rgba(190, 201, 212, 0.2);
    box-shadow: -1.16883px -2.33766px 4px rgba(255, 255, 255, 0.6), inset 1.16883px 2.33766px 4.68px rgba(40, 68, 141, 0.2);
  }
  &:after{
    content: "";
    @include positionA;
    width:120px;
    height:120px;
    border-radius:50%;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: -1.16883px -2.33766px 6px rgba(255, 255, 255, 0.8);
  }
  .pie-total{
    @include flexCenter;
    @include positionA;
    z-index: 4;
    span{
      font-weight: bold;
      font-size: 38px;
      line-height: 44px;
      text-align: right;
      letter-spacing: -0.2px;
      color: #2C3238;
      display: inline-block;
      &:last-child{
        margin-left:4px;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        text-align: right;
        color: rgba(44, 50, 56, 0.4);
      }
    }
  }
}