@import "styles/utils";

.search-result-item-typeA {
  padding: 14px 20px;
  background: $color-gray-white;
  border-bottom: 1px solid $color-gray-100;
  &:active,
  &.active {
    background: $color-secondary-50;
  }
}
