@import "styles/utils";

.delivery-search-form {
  .label-input {
    margin-bottom: 30px;

    .label {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.05px;
      color: $color-gray-900;
    }
    .store-rooms {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .normal-div {
        width: 100%;
        margin-right: 8px;
      }
      .store-room {
        width: 100%;
        position: relative;
        margin-top: 6px;
        border: 1px solid $color-gray-300;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding: 9px;
        margin-right: 8px;
        &.active {
          border: 2px solid $color-gray-800;
        }

        input {
          margin-left: 8px;
          padding: 2px 0;
          width: 100%;
          height: 100%;
          outline: 0;
          border: none;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.05px;
          caret-color: $color-primary-500;
          &::placeholder {
            color: $color-gray-400;
          }
          &:focus {
            border: none;
          }
        }
      }
      .icon-reset-alt {
        svg,
        path {
          fill: $color-gray-600;
        }
      }
      .reverse-circle {
        flex: 1;
        margin-left: 5px;
        margin-right: 5px;
        height: 30px;
        min-width: 30px;
        width: 30px;
        background: $color-gray-500;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg,
        path {
          fill: $color-gray-white;
        }
      }
    }
    .date-input-row {
      display: flex;
      align-items: center;
      .label {
        min-width: 50px;
      }

      .re-padding {
        padding: 8px 12px;
      }
      .circles {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -4px 0 0 -4px;
        width: calc(100% + 4px);
        .circle-item {
          margin: 4px 0 0 4px;
          &:not(:last-child) {
            margin-right: 4px;
          }
        }
      }

      .time-icon {
        margin-right: 11px;
        svg,
        path {
          fill: $color-gray-600;
        }
      }

      .date-label {
        min-width: 55px;
        color: $color-gray-600;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.05px;
      }
      .date-input-rowcol {
        width: 100%;
      }
      .calendar-fromto-type {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 6px;
        .label {
          min-width: 50px;
          font-weight: normal;
        }
        .icon-reset-alt {
          svg,
          path {
            fill: $color-gray-600;
          }
        }

        .date-calendar-input {
          flex: 1;
          display: inline-flex;
          align-items: center;
          justify-content: space-around;
          border: 1px solid #bec9d4;
          box-sizing: border-box;
          border-radius: 3px;
          padding: 11px 6px 11px 12px;

          input[type="text"] {
            border: 0;
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-900;
            padding: 0 4px 0 6px;
          }

          svg {
            display: block;
          }
          &.input-col {
            &:not(:last-child) {
              margin-right: 8px;
            }
          }
        }
        .bar {
          margin: -6px 4px 0;
          color: #c4c4c4;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}
.delivery-search-select-modal {
}
