@import "styles/utils";
.messages-bar {
  padding: 12px 16px;
  position: fixed;
  background: $color-gray-900;
  color: $color-gray-white;
  border-radius: 3px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.1px;
  margin: 0 auto;
  width: auto;
  left: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transform: translateX(-50%);
  animation-name: messageBar;
  animation-duration: 500ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  &.fullWidth {
    width: 100% !important;
    justify-content: flex-start;
  }
  .btn-try-again {
    margin-left: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #e0205c;
    svg {
      margin-left:4px;
    }
  }
}
