@import "styles/utils";

.search-sp-inventory-detail-item-card {
  background: $color-gray-white;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
  border-radius: 4px;
  padding: 12px;
  > div + div {
    margin-top: 10px;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .col {
      display: flex;
      align-items: center;
      .label {
        color: $color-gray-600;
        font-size: 12px;
        line-height: 19px;
        font-weight: 500;
        min-width: 100px;
      }
      .value {
        color: $color-gray-900;
        font-size: 12px;
        line-height: 19px;
        font-weight: 400;
      }
    }
  }
  .row-flex {
    display: flex;
    align-items: center;
    .splitter {
      height: 12px;
      width: 1px;
      background: $color-gray-300;
      margin-left: 10px;
      margin-right: 10px;
    }
    .col-sb {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .label {
        color: $color-gray-600;
        font-size: 12px;
        font-weight: normal;
        line-height: 19px;
      }
      .value {
        color: $color-primary-500;
        font-size: 13px;
        font-weight: normal;
        line-height: 21px;
        letter-spacing: 0.05px;
      }
    }
  }
  .condition-code {
    padding: 3px 8px;
    border: 1px solid $color-gray-300;
    box-sizing: border-box;
    border-radius: 53px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.15px;

    color: $color-gray-800;
  }
  .location-code {
    display: flex;
    align-items: center;
    .icon-location {
      margin-right: 2px;
    }
    span {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      text-align: right;
      letter-spacing: 1px;
      color: $color-primary-500;
    }
  }
}
