@import "styles/utils";

.work-order-list-search-form {
  .label-input {
    margin-bottom: 30px;
  }
}

.date-input-row {
  display: flex;
  align-items: center;

  .date-label {
    min-width: 55px;
    color: $color-gray-600;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.05px;
  }
  .calendar-fromto-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6px;

    .clear-dt {
      margin-left: 8px;
      svg,
      path {
        fill: $color-gray-600;
      }
    }

    .date-calendar-input {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      border: 1px solid #bec9d4;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 11px 6px 11px 12px;

      input[type="text"] {
        border: 0;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        color: $color-gray-900;
        padding: 0 4px 0 6px;
      }

      .time {
        color: $color-gray-900;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
      }
      svg {
        display: block;
      }
      &.input-col {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          width: 90%;
        }
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
    .bar {
      margin: -6px 4px 0;
      color: #c4c4c4;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.work-order-list-search-form-select-modal {
}
