@import "styles/utils";

.search-keyword-result-sp-req-item {
  background: white;
  padding: 14px 20px;
  border-bottom: 1px solid $color-gray-100;
  .row {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
    .item-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-900;
    }
    .icon-with-text {
      display: flex;
      align-items: center;
      margin-left: 20px;
      .location-icon {
        margin-left: 2px;
        svg,
        path {
          fill: $color-primary-500;
        }
      }
      .location-text {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        color: $color-primary-500;
      }
    }
    .item-desc {
      font-weight: normal;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-600;
    }
    .item-label {
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-800;
      margin-right: 10px;
    }
    .item-value {
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      text-align: right;
      letter-spacing: 0.05px;
      color: $color-primary-500;
    }
  }
}
