@import "styles/utils";

.sp-requirements-card {
  position: relative;
  &:first-child {
    .list-group-item {
      margin-top: 0;
    }
  }
  .work-order-todo-item-typeA {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    background: transparent;
    z-index: 100;
  }
  &.active {
    .list-group-item {
      border: 1px solid $color-secondary-500;
    }
  }
  .list-group-item {
    display: block;
    background: #ffffff;
    box-shadow: 0px 0px 1px rgba(33, 40, 55, 0.11),
      1px 1px 6px rgba(33, 40, 55, 0.16);
    border-radius: 4px;
    margin-top: 8px;
    padding: 16px 14px;
    border: 1px solid transparent;
    .list-group-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 12px;
        line-height: 19px;
        display: block;
      }
      > div {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
      }
      .title {
        font-weight: bold;
        text-align: right;
        color: $color-gray-600;
        margin-right: 6px;
        flex: 1 0 auto;
      }
      .text {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
        max-width: calc(100% - 18px);
        overflow: hidden;
        margin-right: 18px;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: $color-gray-900;
        em {
          font-weight: 700;
        }
      }
      .location {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
        overflow: hidden;
        font-size: 12px;
        line-height: 21px;
        text-align: left;
        letter-spacing: 1px;
        display: block;
        color: $color-primary-500;
        padding-right: 0;
        transition: padding 300ms ease-in-out;
        svg {
          position: relative;
          top: 3px;
        }
      }
    }
    .delivery-box {
      background: #6b7682;
      border-radius: 3px;
      font-size: 13px;
      line-height: 20px;
      color: $color-gray-white;
      padding: 4px 8px;
      display: inline-flex;
      margin-top: 6px;
      .delivery-box-label {
        margin-right: 10px;
      }
      .line {
        font-size: 11px;
        color: $color-gray-300;
        padding: 0 4px;
      }
    }
    .value {
      font-weight: normal;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-600;
      margin-top: 4px;
    }
    .list-number-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 6px;
      span {
        display: block;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: #a5b3c2;
        &.number-title {
          margin-right: 14px;
        }
        &.number-text {
          margin-right: 10px;
          color: #e0205c;
          font-weight: 500;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .line {
        color: #bec9d4;
        font-size: 12px;
        margin-right: 10px;
      }
    }
  }
  &.on {
    .list-group-item {
      .list-group-header {
        .location {
          padding-right: 26px;
        }
      }
    }
  }
}
.necessary-dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background: $color-primary-500;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 2px;
}

.label-input-wrap {
  label {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: #2c3238;
  }
  input {
    margin-top: 6px;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 7px 16px;
    width: 100%;
    line-height: 24px;
    min-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 1px solid #bec9d4;
    [disabled] {
      opacity: 1;
      background: #f5f8fa;
    }
  }
}

input {
  -webkit-appearance: none;
}

.modal-content {
  color: #6b7682;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
