.tooltip-wrap {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05px;
  color: #ffffff;
  padding: 7px 12px;
  position: absolute;
  background: #6b7682;
  border-radius: 3px;
  z-index: 199;
  animation-name: tooltip;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  &:before {
    content: "";
    width: 12px;
    height: 8px;
    background: url("../../../asset/images/bubble-tail.svg") no-repeat 0 0;
    position: absolute;
    right: 12px;
    top: -7px;
  }
}
