@import "styles/utils";

.app-nav {
  background: $color-gray-white;
  padding: 0 20px;
  box-shadow: 0px -2px 4px rgba(40, 45, 51, 0.06);
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      .icon {
        width: 107px;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          font-size: 10px;
          font-weight: 400;
          color: $color-gray-500;
        }
        svg,
        path {
          fill: $color-gray-500;
        }

        &.selected {
          svg,
          path {
            fill: $color-gray-900;
          }
          span {
            color: $color-gray-900;
          }
        }
        .alarm-relative {
          position: relative;
          // &.new {
          //   &::before {
          //     content: "";
          //     position: absolute;
          //     right: 2px;
          //     top: -2px;
          //     width: 10px;
          //     height: 10px;
          //     background: $color-status-alert;
          //     border: 1px solid $color-gray-white;
          //     border-radius: 50%;
          //   }
          // }
        }
        .icon-logout {
          transform: rotate(90deg);
        }
      }
    }
  }
}
