@import "styles/utils";

.label-div-typeA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .info-label {
    color: $color-gray-500;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .info-value {
    color: $color-gray-black;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05px;
    font-weight: 400;
    word-break: break-all;
  }
}
