@import "styles/utils";

.main-menu-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 calc(50% - 16px);
  position: relative;
  .menu-button {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  .counter {
    position: absolute;
    height: 20px;
    top: 8px;
    right: 8px;
    border-radius: 12px;
    font-family: "SpoqaHanSans";
    padding: 1.5px 8px;
    background: $color-primary-500;
    color: white;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-menu-button {
  padding: 8px 0;
  width: 100%;
  border-radius: 16px;
  background: $color-gray-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -2px -4px 12px rgba(255, 255, 255, 0.8),
    2px 4px 10px rgba(43, 72, 136, 0.16);
  .active {
    border: 1px solid $color-primary-400;
  }
  &.big {
    padding: 61px 0;
    transition: all 600ms;
  }
  &.small {
    padding: 8px 0;
    transition: all 600ms;
  }
  .menu-text {
    margin-top: 2px;
    font-size: 12px;
    font-weight: 500;
    color: $color-gray-800;
  }
}
