@import "styles/utils";

.modal-full-page {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  background: #ffffff;
  .header {
    z-index: 100;
  }
  .fixed-bottom {
    z-index: 100;
  }
}
