@import "styles/utils";

.work-order-bm-diagnosis-failure-typeA {
  .infos {
    display: flex;
    align-items: center;
    &.flex-col {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &:not(:last-child) {
      margin-bottom: 14px;
    }

    .info-box {
      width: 100%;
      padding: 5px;
      border: 1px solid $color-gray-300;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-right: 8px;
      }
      .info-title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-gray-700;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
      }
      .info-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .value {
          color: $color-gray-700;
          font-size: 13px;
          line-height: 19.24px;
          letter-spacing: 0.1px;
          font-weight: 700;
        }
        .unit {
          color: $color-gray-500;
          font-size: 12px;
          line-height: 15px;
          font-weight: 400;
          margin-left: 2px;
        }
      }
    }

    .info-line {
      width: 100%;
      display: flex;
      align-items: center;
      .label {
        min-width: 100px;
        color: $color-gray-500;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
      }
      .content {
        color: $color-gray-900;
        font-size: 13px;
        line-height: 19px;
        font-weight: 400;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    .btn-failure-select {
      width: 100%;
      background: $color-gray-white;
      border: 1px solid $color-gray-300;
      border-radius: 3px;
      padding: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        color: $color-gray-800;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.15px;
        font-weight: 500;
        margin-left: 6px;
      }
    }
  }
}
