@import "styles/utils";

.input-selector {
  width: 100%;

  .input-selector-box {
    background: $color-gray-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    padding-right: 16px;
    border: 1px solid $color-gray-300;
    border-radius: 3px;
    .input-value {
      color: $color-gray-900;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      font-weight: 400;
    }
    .input-placeholder {
      color: $color-gray-400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      font-weight: 400;
    }
    &:focus,
    &.focus {
      border: 2px solid $color-gray-800;
    }
  }
  .selector-popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: $color-gray-white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22),
      0px -7px 10px rgba(0, 0, 0, 0.12);
    border-radius: 8px 8px 0px 0px;

    .selector-title {
      padding: 26px 20px 16px;
      display: flex;
      justify-content: space-between;
      .title-text {
        font-size: 16px;
      }
    }
    .selector-content {
      padding: 0 20px;
      .selector-items {
        .selector-item {
          min-height: 45px;
          padding: 12px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: $color-gray-900;
            font-size: 14px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.05px;
          }
          &:not(:last-child) {
            border-bottom: 1px solid $color-gray-100;
            margin: 0;
          }
          &.selected {
            position: relative;
            span {
              color: $color-primary-500;
            }
            .selector-icon {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    .selector-button {
      padding: 28px 20px 20px;
    }
  }
  &.login-selector {
    .input-selector-box {
      padding: 16px 16px 16px 12px;
    }
  }
}
