@import "styles/utils";

.alarm-card-panel {
  padding: 30px 20px 40px;
  .title {
    .date {
      font-size: 12px;
      line-height: 19px;
      font-weight: 500;
      color: $color-gray-800;
    }
  }
  .alarm-panel {
    margin-top: 20px;
    .alarm-category {
      display: flex;
      align-items: center;
      .alarm-icon {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        align-items: center;
        justify-content: center;
        &.pastel {
          &-e {
            background: $color-contents-normal-e;
          }
          &-f {
            background: $color-contents-normal-f;
          }
        }
      }
      .category-text {
        margin-left: 6px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        color: $color-gray-800;
      }
    }
    .alarm-items {
      margin-top: 14px;
      // filter: drop-shadow(1px 1px 6px rgba(33, 40, 55, 0.12));

      .alarm-item {
        box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        .alarm-inform {
          padding: 10px 15px;
          background: $color-gray-white;
          border-radius: 5px;
          .inform-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-child) {
              margin-bottom: 2px;
            }
            .inform-title {
              font-size: 12px;
              line-height: 17.76px;
              font-weight: 500;
              color: $color-gray-600;
            }
            .inform-time {
              font-size: 12px;
              line-height: 17.76px;
              font-weight: 400;
              letter-spacing: 0.1px;
              color: $color-gray-400;
            }
            .inform-content {
              font-size: 14px;
              line-height: 23px;
              font-weight: 400;
              letter-spacing: 0.05px;
              color: $color-gray-black;
            }
          }
        }
      }
    }
  }
}
