@import "styles/utils.scss";

.login-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 100vh;
  .login-box {
    width: 100%;
    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      img {
        height: 30px;
        width: 34px;
        margin-right: 7px;
      }
      .icon-singlex {
        svg {
          width: 90px;
          height: 18px;
        }
        margin-right: 10px;
      }
      .icon-ems {
        svg {
          width: 44px;
          height: 18px;
        }
      }
    }
    .login-button {
      width: 100%;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-gray-800;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $color-gray-white;
    }
  }
}
