@import "styles/utils";

.modal-full-page-ani {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  background: #ffffff;

  &.dimmed {
    background: transparent;
  }
  .header {
    z-index: 100;
  }
  .fixed-bottom {
    z-index: 100;
  }
  // &.mounted {
  //   animation: aniLeftRight 0.2s ease-in-out forwards;
  // }
  // &.unmounted {
  //   animation: aniLeftRightRev 0.2s ease-in-out forwards;
  // }
  // &.base-mounted {
  //   animation: aniMount 0.2s ease-in-out forwards;
  // }
  // &.base-unmounted {
  //   animation: aniUnmount 0.2s ease-in-out forwards;
  // }
  // &.upanddown-mounted {
  //   animation: aniUpDownMount 0.2s ease-in-out forwards;
  // }
  // &.upanddown-unmounted {
  //   animation: aniUpDownUnMount 0.2s ease-in-out forwards;
  // }
  // &.fadeIn {
  //   animation: aniFade 0.2s ease-in-out forwards;
  // }
  // &.fadeOut {
  //   animation: aniFadeOut 0.2s ease-in-out forwards;
  // }
}
