@import "styles/utils";

.notistack {
  position: relative;
  background: $color-gray-900;
  padding: 12px 16px;
  border-radius: 3px;
  span {
    color: $color-gray-white;
    font-size: 13px;
    font-weight: 400;
    font-family: inherit;
    line-height: 19px;
    letter-spacing: 0.1px;
  }
}

// success, errror, etc...
