@import "styles/utils";

.work-order-manage-op {
  .op-title {
    padding: 0 20px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    .title {
      font-size: 15px;
      line-height: 21px;
      letter-spacing: 0.05px;
      font-weight: 700;
      color: $color-gray-black;
    }
    .all-btns {
      display: flex;
      align-items: center;
      .splitter {
        width: 1px;
        height: 14px;
        background: $color-gray-300;
        margin-left: 14px;
        margin-right: 14px;
      }
      .all-select {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.15px;
        color: $color-gray-400;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  .op-items {
    margin-bottom: 40px;
    .op-item {
      padding: 0 20px;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .footer-white {
    background: white;

    .btns-wrapper {
      box-shadow: 0px -1px 10px rgba(40, 45, 51, 0.04);
      padding: 14px 20px;
      display: flex;
      align-items: center;

      & > div {
        width: 100%;
        padding: 14px 3px;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }

      .sp-issue,
      .all-ok {
        border: 1px solid $color-gray-300;
        background: $color-gray-white;
        color: $color-gray-800;
      }
      .result-save,
      .select-save {
        background: $color-gray-800;
        color: $color-gray-white;
      }
      .all-ok {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15px;
      }
      .select-save {
        font-size: 16px;
        font-weight: 500;
        line-height: 23.68px;
      }
      .counter {
        .select-count {
          font-size: 24px;
          font-weight: 700;
          line-height: 23px;
          color: $color-gray-700;
        }
        .select-total {
          font-size: 18px;
          font-weight: 700;
          line-height: 23px;
          color: $color-gray-500;
        }
      }
    }
  }
}
