@import "styles/utils";

.work-order-bm-sp-issue {
  .work-order-bm-sp-issue-main {
    .sticky-header {
      top: 0;
      position: sticky;
      background: $color-gray-white;
      box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.1);
      padding: 20px;
      z-index: 10;
      .detail-wo {
        display: flex;
        align-items: center;
        .wo-text {
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: -0.1px;
          color: $color-gray-900;
        }
      }
      .detail-desc {
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: $color-gray-600;
      }
    }
    .detail-items {
      padding-top: 26px;
      padding-bottom: 26px;
      .detail-item {
        margin-left: 20px;
        margin-right: 20px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
  .footer-white {
    background: $color-gray-white;
    .primary-button {
      margin: 18px 20px;
      padding: 14px 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      background: $color-primary-500;
      color: $color-gray-white;
      border-radius: 3px;
      cursor: pointer;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
  }
}
