@import "styles/utils";

.work-order-result-card-typeA {
  background: #ffffff;
  border-radius: 0px 4px 4px 0px;
  position: relative;
  // filter: drop-shadow(1px 1px 6px rgba(33, 40, 55, 0.12));
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
  padding: 14px 16px;
  margin-bottom: 8px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
  }
  &.bm-type {
    &:before {
      background: $color-contents-normal-c;
    }
  }
  &.pm-type {
    &:before {
      background: $color-status-confirmed;
    }
  }
  .item- {
    &state-type {
      display: flex;
      justify-content: space-betweenflex;
      align-items: center;
      > span {
        display: block;
      }
      .state {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $color-primary-500;
      }
      .type {
        display: flex;
        align-items: center;
        padding: 2px 6px;
        background: $color-gray-50;
        border-radius: 3px;
        span {
          font-weight: 500;
          font-size: 12px;
          line-height: 19px;
          color: $color-gray-400;
        }
      }
    }
    &title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      dt {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $color-gray-400;
        margin-right: 8px;
        flex: 0 1 auto;
        min-width: 38px;
      }
      dd {
        font-weight: bold;
        font-size: 15px;
        line-height: 23px;
        color: $color-gray-900;
        word-break: break-all;

        &.end-flex {
          margin-left: auto;
        }
      }
    }
    &infos {
      display: flex;
      align-items: center;
      margin-top: 6px;
      > * {
        &:not(:last-child) {
          margin-right: 4px;
        }
      }
      .state {
        display: flex;
        align-items: center;
        padding: 2px 8px;
        border-radius: 3px;
        border: 1px solid $color-status-confirmed;
        background: rgba(4, 179, 149, 0.1);
        span {
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: $color-status-confirmed;
        }
        &.bm-type {
          padding-left: 4px;
          background: rgba(249, 75, 80, 0.1);
          border: 1px solid $color-status-alert;
          span {
            color: $color-status-alert;
          }
        }
      }
      .info-item {
        padding: 3px 8px;
        background: $color-gray-100;
        border-radius: 3px;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: $color-gray-700;
      }
    }
    &text {
      margin-top: 8px;
      dl {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &:not(:last-child) {
          margin-bottom: 2px;
        }
        dt {
          display: block;
          font-weight: 500;
          font-size: 12px;
          line-height: 19px;
          color: $color-gray-600;
          width: 80px;
          white-space: nowrap;
        }
        dd {
          flex: 1;
          font-size: 12px;
          line-height: 19px;
          font-weight: 400;
          color: $color-gray-900;
          margin-left: 12px;
          margin-right: 24px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
  .ab-right-bottom {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}
