@import "styles/utils";

.work-order-todo-new-add-button {
  width: 100%;
  background: $color-gray-50;
  padding: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: $color-gray-500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05px;
    font-weight: 500;
    margin-left: 6px;
  }
}
