@import "styles/utils";

.header-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  span.title {
    font-size: 16px;
    font-weight: 700;
    color: $color-gray-900;
    line-height: 23px;
    text-align: center;
    &.black-mode {
      color: $color-gray-white;
    }
  }
}
