@import "styles/utils";

.circle-with-icon {
  padding: 4px 6px 4px 10px;
  background: $color-gray-100;
  border: 1px solid $color-gray-100;
  display: flex;
  align-items: center;
  border-radius: 15px;
  .text {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: $color-gray-700;
  }
}
