@import "styles/utils";

.date-calendar-picker-header {
  width: 100%;
  background: $color-gray-white;
  padding-top: 18px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .left {
      margin-left: 8px;
      min-width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .center {
      span {
        color: $color-gray-900;
        font-size: 16px;
        font-weight: 700;
        line-height: 23.68px;
        letter-spacing: -0.1px;
      }
    }
    .right {
      margin-right: 8px;
      min-width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-today {
        padding: 6px 8px;
        span {
          color: $color-gray-800;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.15px;
        }
      }
    }
    .btn-select-cal {
      margin-left: 20px;
      padding: 6px 0;
      display: flex;
      align-items: center;
      span {
        margin-right: 10px;
        color: $color-gray-900;
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
      }
    }
    .month-move-icons {
      margin-right: 20px;
      display: flex;
      .move-icon {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }
}

.button-container {
  margin-top: 18px;
  padding: 18px 20px;
}

// overriding
.react-datepicker {
  width: 100vw;
  position: relative;
  .react-datepicker__year--container {
    .react-datepicker__header {
      padding: 0;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border: none;
    }
    .react-datepicker__year {
      margin: 0;
      .react-datepicker__year-wrapper {
        max-height: 260px;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        max-width: 100%;
        padding-top: 30px;
        padding-left: 48px;
        padding-right: 48px;

        .react-datepicker__year-text {
          margin-top: 0;
          margin-bottom: 20px;
          margin-left: 15px;
          margin-right: 15px;
          width: 62px;
          padding: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
          line-height: 19px;
          font-weight: 400;
          color: $color-gray-900;

          &--selected {
            border-radius: 30px;
            background: $color-primary-500;
            color: $color-gray-white;
          }
        }
      }
    }
  }
  .react-datepicker__month-container {
    width: 100%;
    .react-datepicker__header {
      padding: 0;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      border: none;
      .react-datepicker__day-names {
        width: 100%;
        background: $color-gray-white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 17px;
        .react-datepicker__day-name {
          width: 32px;
          height: 32px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0;

          color: $color-gray-600;
          font-size: 15px;
          line-height: 22px;
          letter-spacing: -0.05px;
          font-weight: 400;
        }
      }
    }
    .react-datepicker__month {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 32px;
      .react-datepicker__week {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 0 17px;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        .react-datepicker__day {
          width: 100%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0;

          .day-circle {
            width: 32px;
            height: 32px;
            color: $color-gray-black;
            font-size: 16px;
            line-height: 23px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
          }
          &--outside-month {
            opacity: 0.5;
          }
          &--today {
            .day-circle {
              border-radius: 50%;
              background: $color-gray-700;
              color: $color-gray-white;
            }
          }
          &--in-range,
          &--in-selecting-range {
            background: $color-gray-50;
            color: $color-gray-black;
            border-radius: 0;
            .day-circle {
              background: transparent;
              color: $color-gray-black;
            }
          }
          &--keyboard-selected {
            background: $color-gray-white;
            .day-circle {
              background: transparent;
              color: $color-gray-black;
            }
          }
          &--selected,
          &--range-start,
          &--range-end {
            background: $color-gray-white;
            .day-circle {
              border-radius: 50%;
              background: $color-primary-500;
              color: $color-gray-white;
            }
          }

          &--range-start {
            background: transparent;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: 50%;
              background: $color-gray-50;
            }
          }
          &--range-end {
            background: transparent;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 50%;
              background: $color-gray-50;
            }
          }
        }
      }
    }
  }
  .react-datepicker__today-button {
    position: absolute;
    background: $color-gray-white;
    border: none;
    top: 20px;
    right: 20px;

    .btn-today {
      padding: 6px 8px;
      span {
        color: $color-gray-800;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15px;
      }
    }
  }
}
