@import "styles/utils";
button {
  cursor: pointer;
  border: 0;
  background: transparent;
}
* {
  box-sizing: border-box;
}
.contents {
  width: 100%;
  position: absolute;
  top:56px;
  left:0;
  right:0;
  bottom:0;
  padding-bottom:108px;
  overflow-y: auto;
  &.bg-type {
    background: $color-gray-50;
    padding-top: 5px;
  }
}

.daily-check-title {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 16px;
    font-weight: 700;
    color: $color-gray-900;
    line-height: 23px;
    text-align: center;
  }
}

/* modal */
.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  &.bg-type {
    &:before {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: #000000;
      opacity: 0.5;
      z-index: 0;
    }
  }
  .modal-box-center {
    background: $color-gray-white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22),
      0px 7px 10px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    position: relative;
    z-index: 1;
    max-width: 266px;
    padding-bottom:20px;
    .modal-contents {
      padding: 0 20px 20px;
      .guide-text {
        font-size: 12px;
        line-height: 19px;
        color: $color-gray-800;
      }
    }
  }
  .modal-fix-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 1;
    background: $color-gray-white;
    box-shadow: 0px -4px 12px rgba(33, 40, 55, 0.12);
    border-radius: 12px 12px 0px 0px;
    padding-bottom:20px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px 20px;
    h1 {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.05px;
      color: $color-gray-900;
    }
  }
  .btn-popup-close {
    background: transparent;
    border: 0;
    cursor: pointer;
  }
}
.btn-wrapper {
  display: flex;
  align-items: center;
  &.align-right {
    justify-content: flex-end;
  }
  &.align-left {
    justify-content: flex-start;
  }
  &.align-center {
    justify-content: center;
  }
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-right: 4px;
  }
}

.common_round-box {
  background: #ffffff;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
  border-radius: 6px;
  margin: 20px;
  padding:8px 16px 30px;
  position: relative;
  h2{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $color-gray-800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height:38px;
    .status{
      float:right;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: $color-status-confirmed;
    }
  }
}

.comm-fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $color-gray-white;
  padding: 18px 20px;
  z-index: 100;
  &.border1 {
    border:0;
    border-top: 1px solid $color-gray-200;
  }
  .total-type {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
    color: #a0a0a0;
    span {
      font-weight: bold;
      font-size: 24px;
      line-height: 23px;
      text-align: center;
      color: #56606b;
    }
  }
  a{
    display: block;
    button{
      display: block;
      width:100%;
    }
  }

  &.div3-else{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    button{
      flex:1 1 calc(100% - 8px);
      margin-left:8px;
      &:first-child{
        flex:0 0 50px;
        margin-left:0;
      }
    }
  }

  .btn-download{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-gray-white;
    border: 1px solid $color-gray-300;
    border-radius: 3px;
    width:50px;
    height:50px;
  }
}

.comm-number {
  background: $color-gray-200;
  border-radius: 12px;
  font-weight: bold;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #424952;
  padding: 1px 7px;
  margin-left: 4px;
}

.new-notice {
  position: relative;
  &:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #f94b50;
    display: block;
    position: absolute;
    right: -2px;
    top: -5px;
  }
}

.fR {
  float: right;
}
.fL {
  float: left;
}

hr.border1 {
  border:0;
  border-top: 1px solid $color-gray-200;
  padding: 0;
  margin: 7px 14px;
}
hr.border2 {
  border:0;
  border-top: 1px solid $color-gray-200;
  padding: 0;
  margin: 7px 20px;
}

.div2 {
  > * {
    width: calc(50% - 4px);
  }
}
.div3 {
  > * {
    width: calc(33.3% - 8px);
  }
}

.btn-outline-gray {
  background: $color-gray-white;
  border: 1px solid $color-gray-300;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &[disabled]{
    background: #F5F8FA;
    border: 1px solid #BEC9D4;
  }
}

.state-txt {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: $color-primary-500;
}


[class^="icon-notice-"]{
  width:22px;
  height:22px;
  border-radius:11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right:10px;
}
.icon-notice-{
  &success{
    background: $color-status-confirmed;
  }
  &fail{
    background: $color-status-alert;
  }
}

.filter-round {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
  &.div3 {
    span {
      width: calc(33.3% - 7px);
    }
  }
  &.div2 {
    span {
      width: calc(50% - 7px);
    }
  }
  span {
    display: block;
    margin-right: 7px;
    margin-bottom: 7px;
  }
}


.connect-type{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notice-contents{
  min-width:224px;
  .notice-text{
    margin-top:4px;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: $color-gray-600;
  }
}

.common-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
}