@import "styles/utils";
.bmsp-wrap {
  position: relative;
  background: #ffffff;
  // border-radius: 12px 12px 0px 0px;
  margin-top: -7px;
  z-index: 2;
  padding: 14px 0 92px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .bmsp-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    dl {
      width: 40%;
      text-align: center;
      position: relative;
      &:first-child {
        padding-right: 43px;
        &:after {
          content: "";
          width: 1px;
          height: 30px;
          background: #e8eff5;
          border-radius: 3px;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      &:last-child {
        padding-left: 43px;
      }
      dt {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $color-gray-500;
      }
      dd {
        margin-top: 8px;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        color: $color-gray-900;
      }
    }
  }

  [class^="label-input"] {
    margin-bottom: 30px;
  }

  .label-input {
    label {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.05px;
      color: #2c3238;
    }
  }

  .label-input-else {
    label {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.05px;
      color: $color-gray-900;
      margin-bottom: 6px;
      display: block;
    }
  }
  .border3 {
    background: #e9eff5;
    border: 0;
    margin: 0 -20px;
    height: 10px;
    margin-bottom: 30px;
  }
}
.bottom-btn-wrap {
  padding: 18px 20px;
  background: #fff;
}

.flex-div2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  > div {
    width: 100%;
    &:first-child {
      margin-right: 4px;
    }
    &:last-child {
      margin-left: 4px;
    }
  }
}

.bottom-btn-wrap {
  &.div2 {
    > button {
      flex: 1 0 calc(50% - 4px);
      &:first-child {
        margin-right: 4px;
      }
      &:last-child {
        margin-left: 4px;
      }
    }
  }
}

.bmsp-contents {
  padding: 20px 20px 0;
}

.filter-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 22px;
  .icon-left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .filter-input {
    background: #ffffff;
    border: 1px solid $color-gray-300;
    border-radius: 3px;
    height: 40px;
    flex: 1;
    padding-left: 42px;
    padding-right: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-900;
    &::placeholder {
      color: $color-gray-400;
    }
    &:focus {
      border: 2px solid $color-gray-800;
      padding-left: 41px;
    }
  }
}

.count-circle-alter {
  background: $color-gray-100;
  padding: 1px 6px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  .circle-text-alter {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $color-gray-700;
    .detail-circle-value {
      margin-left: 3px;
    }
  }
}

.sphi-content {
  .content__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: $color-gray-900;
  }
}

.sphi-content {
  .content__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: $color-gray-900;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  .eqpt-desc-box {
    background: $color-gray-50;
    border-radius: 2px;
    padding: 4px 5px;
    margin-bottom: 8px;
    .eqpt-box__row {
      display: flex;
      align-items: center;
      .label {
        min-width: 90px;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        align-self: flex-start;
        color: $color-gray-600;
      }
      .content {
        font-weight: normal;
        font-size: 12px;
        line-height: 19px;
        color: $color-gray-900;
        overflow-x: hidden;
      }
    }
  }
  .issue__description {
    display: flex;
    align-items: center;
    .label {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $color-gray-800;
      margin-right: 10px;
    }
    .content {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: $color-gray-800;
      .time {
        margin-left: 4px;
      }
    }
  }
}

.calendar-fromto-type {
  .clear-dt {
    margin-left: 8px;
    svg,
    path {
      fill: $color-gray-600;
    }
  }
}
