@import "styles/utils";

.ok-cancel-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 0 47px;
  .ok-cancel-modal-inner {
    width: 100%;
    padding: 22px 20px 16px 20px;
    background: $color-gray-white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22),
      0px 7px 10px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    .modal-item {
      &--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          color: $color-gray-900;
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: -0.05px;
        }
      }
      &--btns {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
          padding: 6px 8px;
          span {
            color: $color-gray-800;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.15px;
            font-weight: 500;
          }

          &.modal-ok-btn {
            span {
              color: $color-primary-500;
            }
          }

          &:not(:last-child) {
            margin-right: 7px;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
