@import "styles/utils";

.connect-img{
  background: $color-gray-white;
  border: 1px solid $color-gray-300;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width:80px;
  height:80px;
  border-radius:40px;
  margin:0 auto;
}
.connect-text{
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: $color-gray-600;
  margin-top:20px;
}

.connect-tootip{
  color: $color-gray-white;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  position: absolute;
  left:0;
  right:0;
  bottom:-58px;
}