@import "styles/utils";

.label-input-typeE {
  width: 100%;
  label {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: $color-gray-900;
  }
  .input-box {
    background: $color-gray-white;
    position: relative;
    margin-top: 6px;
    width: 100%;
    border: 1px solid $color-gray-300;
    border-radius: 3px;
    &.active {
      border: 2px solid $color-gray-800;
    }

    .input-box-row {
      display: flex;
      align-items: center;
      overflow-x: auto;

      input {
        padding: 11px 0;
        width: 100%;
        height: 100%;
        outline: 0;
        border: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.05px;
        caret-color: $color-primary-500;
        &::placeholder {
          color: $color-gray-400;
        }
        &:focus {
          border: none;
        }
      }

      .input-tag-item-wrapper {
      }
    }
    &.input-search-icon {
      .input-box-row {
        margin-left: 42px;
        margin-right: 34px;

        &.no-expand {
          margin-right: 12px;
        }

        &.no-icon {
          margin-left: 12px;
          margin-right: 12px;
        }

        .icon-left {
          position: absolute;
          top: 13px;
          left: 13px;
        }
        .icon-right {
          position: absolute;
          top: 18px;
          right: 11px;
        }
      }
      &.active {
        .input-box-row {
          margin-left: 41px;
          margin-right: 35px;
          &.no-expand {
            margin-right: 11px;
          }
          input {
            padding: 10px 0;
          }
          &.no-icon {
            margin-left: 12px;
            margin-right: 12px;
          }
          .icon-left {
            top: 12px;
            left: 12px;
          }
          .icon-right {
            top: 17px;
            right: 10px;
          }
        }
      }
    }
  }
  input.input-box {
    margin-top: 6px;
    width: 100%;
    padding: 12px;
    border: 1px solid $color-gray-300;
    border-radius: 3px;
    &:focus {
      border: 2px solid $color-gray-800;
    }
  }
}
