@import "styles/utils";

.work-order-todo-item-typeD {
  background: $color-gray-50;
  padding: 0 14px;
  border-radius: 4px;
  border: 1px solid transparent;
  .todo-item-typeD-header {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 52px;
    .col {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      &:not(:first-child) {
        margin-left: 7px;
      }
      .item-index {
        margin-right: 5px;
        color: $color-gray-600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        font-weight: 700;
      }
      .item-name {
        color: $color-gray-900;
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
        &.line-ellipse {
          display: -webkit-box;
          -webkit-line-clamp: 2; /* 라인수 */
          -webkit-box-orient: vertical;
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
        }
      }
      .expand-text {
        white-space: nowrap;
        color: $color-gray-400;
        margin-right: 4px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.15px;
        font-weight: 500;
      }
      .selected-text {
        white-space: nowrap;
        color: $color-secondary-500;
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15px;
      }
      .selected-round-tag {
        white-space: nowrap;
        padding: 3px 8px;
        background: $color-gray-white;
        border: 1px solid $color-gray-300;
        border-radius: 14px;

        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        color: $color-gray-700;

        &.alert {
          border: 1px solid $color-primary-500;
          color: $color-primary-500;
        }
      }
    }
  }
  .todo-item-typeD-content {
    padding: 16px 0;
    border-top: 1px solid $color-gray-200;

    .todo-item-labeled {
      border-top: 1px solid $color-gray-200;
      margin-top: 13px;
      padding-top: 13px;
      display: flex;
      justify-content: space-between;

      .label {
        color: $color-gray-500;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
      }
      .comment {
        &.more {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 10px;
            background: $color-status-alert;
            border-radius: 50%;
          }
        }
      }
    }

    .todo-item-btns {
      display: flex;
      .btn-check-select {
        margin-top: 14px;
        width: 100%;
        background: $color-gray-white;
        border: 1px solid $color-gray-300;
        border-radius: 3px;
        padding: 0 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        &.selected {
          background: $color-primary-500;
          span {
            color: $color-gray-white;
          }
        }
        &.ok-btn {
          width: 100%;
          margin-left: 8px;
        }
        &.ng-btn {
          width: 50%;
        }
        span {
          color: $color-gray-800;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.15px;
          font-weight: 500;
        }
      }
    }
  }

  &.expand {
    border: 1px solid $color-gray-400;
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.13);
    .todo-item-typeE-header {
      align-items: flex-start;
    }
  }
}

.todo-item-typeD-content {
  transform-origin: top center;
  &.expand {
    animation: accordfadeIn 0.3s ease-in-out forwards;
  }
  &.collapse {
    animation: accordfadeOut 0.3s ease-in-out forwards;
  }
}
