@import "styles/utils";

.work-order-select-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background: $color-gray-white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px;

  .modal-header {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 16px;
      font-weight: 700;
      line-height: 23px;
      color: $color-gray-900;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      svg{
        margin-right:4px;
      }
    }
    button {
      border: none;
      outline: none;
      padding: 6px;
      color: $color-gray-800;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.15px;
    }
  }
  .modal-select-list {
    //height: 450px;
    max-height: 50vh;
    margin-top: 11px;
    margin-bottom: 88px;
    overflow-y: auto;
    ul {
      li {
        .select-item {
          height: 45px;
          border-bottom: 1px solid $color-gray-100;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.05px;
          color: $color-gray-900;
          &.active {
            color: $color-primary-500;
            font-weight: 400;
          }
        }
        &:last-child{
          .select-item {
            border-bottom:0;
          }
        }
      }
    }
  }
}

.select-box-button-wrapper {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
