@import "styles/utils";

.work-order-todo-item-typeA {
  padding: 12px 14px;
  background: $color-gray-50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 400;
  .item-name {
    color: $color-gray-900;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;

    margin-right: 5px;
  }
}
