@import "styles/utils";

.search-panel {
  display: flex;
  &.flex-auto {
    width: 100%;
    flex: 1 0 auto;
  }
  .search-items {
    display: flex;
    .search-item {
      margin-right: 4px;
      &.add-margin {
        margin-top: 8px;
        margin-bottom: 8px;
      }
      &:last-child {
        padding-right: calc(20px + 32px);
      }
      &:nth-child(-n + 2) {
        padding-right: 4px;
      }
    }
    .search-circle-keyword {
      background: $color-gray-100;
      padding: 4px 8px 4px 10px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      .keyword-text {
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
        color: $color-gray-700;
        white-space: nowrap;
        .search-sub-text {
          font-weight: 400;
          display: block;
          white-space: normal;
        }
      }
      .keyword-icon {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2px;
      }
    }

    &.wrap-box {
      flex-wrap: wrap;
      .search-item {
        margin-bottom: 10px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
