@import "styles/utils";

.work-order-todo-item-typeC2 {
  background: $color-gray-50;
  border-radius: 4px;
  border: 1px solid transparent;
  .todo-item-typeC-header {
    padding: 16px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      &:not(:first-child) {
        margin-left: 7px;
      }
      .item-index {
        margin-right: 5px;
        color: $color-gray-600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        font-weight: 700;
      }
      .item-name {
        color: $color-gray-900;
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
        &.line-ellipse {
          display: -webkit-box;
          -webkit-line-clamp: 2; /* 라인수 */
          -webkit-box-orient: vertical;
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
        }
      }
      .expand-text {
        white-space: nowrap;
        color: $color-gray-400;
        margin-right: 4px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.15px;
        font-weight: 500;
      }
      .selected-text {
        white-space: nowrap;
        color: $color-secondary-500;
        margin-left: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15px;
      }
      .selected-round-tag {
        padding: 3px 8px;
        background: $color-gray-white;
        border: 1px solid $color-gray-300;
        border-radius: 14px;

        font-size: 13px;
        line-height: 20px;
        font-weight: bold;
        color: $color-gray-700;

        &.alert {
          border: 1px solid $color-primary-500;
          color: $color-primary-500;
        }
      }
    }
  }
  .todo-item-typeC-content {
    padding-bottom: 16px;

    .spliter {
      margin: 12px 14px;
      height: 1px;
      background: $color-gray-200;
      display: flex;
      justify-content: center;
      align-items: center;
      &.mt-none {
        margin-top: 0;
      }
    }
    .todo-item-labeled {
      padding: 0 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.flex-top {
        align-items: flex-start;
      }

      .label {
        color: $color-gray-500;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        min-width: 100px;
      }
      .input-content {
        width: 100%;
        color: $color-gray-900;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05px;
        font-weight: 400;
        padding: 6px 12px;
        border: 1px solid $color-gray-300;
        border-radius: 3px;
        resize: none;
        &::placeholder {
          color: $color-gray-400;
        }
        &:focus {
          padding: 5px 11px;
          border: 2px solid $color-gray-800;
        }
      }
      .comment {
        &.more {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 10px;
            background: $color-status-alert;
            border-radius: 50%;
          }
        }
      }
      .input-checkbtnItems {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .input-checkbtnItem {
          width: 100%;
          &:not(:last-child) {
            margin: 0;
            margin-right: 6px;
          }
          .check-button {
            padding-top: 10px;
            padding-bottom: 10px;
            background: $color-gray-white;
            color: $color-gray-800;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.05px;
            border: 1px solid $color-gray-200;
            border-radius: 20px;
            text-align: center;
            &.selected {
              border: 1px solid $color-primary-300;
              color: $color-primary-500;
              font-weight: 500;
            }
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .todo-item-btns {
      display: flex;
      padding: 0 14px;
      .btn-check-select {
        margin-top: 14px;
        width: 100%;
        background: $color-gray-white;
        border: 1px solid $color-gray-300;
        border-radius: 3px;
        padding: 0 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        &.selected {
          background: $color-primary-500;
          span {
            color: $color-gray-white;
          }
        }
        &.ok-btn {
          width: 100%;
          margin-left: 8px;
        }
        &.ng-btn {
          width: 50%;
        }
        span {
          color: $color-gray-800;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.15px;
          font-weight: 500;
        }
      }
    }
  }

  .todo-item-btns {
    .btn-item-select {
      margin-top: 14px;
      width: 100%;
      background: $color-gray-white;
      border: 1px solid $color-gray-300;
      border-radius: 3px;
      padding: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 52px;
      &.selected {
        background: $color-primary-500;
      }
      span {
        color: $color-gray-800;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.15px;
        font-weight: 500;
        margin-left: 6px;
      }
    }
  }

  &.expand {
    border: 1px solid $color-gray-400;
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.13);
    .todo-item-typeC-header {
      align-items: flex-start;
    }
  }
}

.todo-item-typeC-content {
  transform-origin: top center;
  &.expand {
    animation: accordfadeIn 0.3s ease-in-out forwards;
  }
  &.collapse {
    animation: accordfadeOut 0.3s ease-in-out forwards;
  }
}
