@import "styles/utils";
.empty{
  &-img{
    background:#fff url("../../../asset/images/empty.gif") no-repeat center 0;
    background-size: 100%;
    width:230px;
    height:230px;
    margin:0 auto;
  }
  &-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span{
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: $color-gray-600;
      margin-top:10px;
      &:first-child{
        font-weight: bold;
        font-size: 24px;
        line-height: 23px;
        text-align: center;
        color: $color-gray-900;
      }
    }
  }
}
.btn-round-primary{
  border: 1px solid $color-primary-400;
  border-radius: 79px;
  color:$color-primary-400;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  height:52px;
  width:calc(100% - 80px);
  margin:40px 40px 0;
}

