@import "styles/utils";

.search-sp-inventory-detail-b {
  .search-sp-inventory-detail-b-main {
    margin-top: 56px;
    height: calc(100vh - 56px);
    overflow-y: auto;
    background: $color-gray-50;
    .item-title-wrapper {
      position: sticky;
      top: 0;
      left: 0;
      .item-title-info {
        display: flex;
        align-items: center;
        padding: 24px 20px;
        background: $color-gray-white;
        .col {
          display: flex;
          flex-direction: column;
          &.item-picture {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 112px;
              height: 112px;
              object-position: center center;
            }
          }

          &:not(:last-child) {
            margin-right: 16px;
          }

          > div {
            display: flex;
            align-items: center;
            span {
              display: -webkit-box;
              -webkit-line-clamp: 1; /* 라인수 */
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .item-code {
            > span {
              color: $color-gray-900;
              font-size: 14px;
              line-height: 21px;
              letter-spacing: 0.05px;
              font-weight: 700;
            }
          }
          .item-storeroom {
            margin-top: 2px;
            > span {
              color: $color-primary-500;
              font-size: 12px;
              line-height: 17.78px;
              letter-spacing: 1px;
              font-weight: 400;
            }
          }
          .item-desc {
            margin-top: 2px;
            > span {
              color: $color-gray-600;
              font-size: 12px;
              line-height: 21px;
              letter-spacing: 0.05px;
              font-weight: 400;
            }
          }
          .item-quantity {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:first {
              margin-top: 6px;
            }
            .label {
              color: $color-gray-800;
              font-size: 13px;
              font-weight: normal;
              line-height: 21px;
              letter-spacing: 0.05px;
              min-width: 120px;
            }
            .value {
              margin-left: 10px;
              color: $color-primary-500;
              font-size: 13px;
              font-weight: normal;
              line-height: 21px;
              letter-spacing: 0.05px;
            }
          }
        }
      }
      .filter-col {
        padding: 16px 20px;
        background: $color-gray-50;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .filter-label {
          margin-right: 8px;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.05px;

          color: $color-gray-800;
        }
      }
    }
    .detail-items {
      padding: 16px 20px;
      padding-top: 0;
      > li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}
