@import "styles/utils";

.alarm-wo-button {
  background: white;
  border: 1px solid $color-gray-300;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 6px 7px;
  position: relative;
  .new-wo {
    display: flex;
    align-items: center;
    padding: 0;
    span {
      margin-left: 2px;
    }
  }
  .wo-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.15px;
    color: $color-gray-800;
  }
  &.disabled,
  &:disabled {
    background: $color-gray-50;
    padding: 6px 10px;
  }
  .alarm-tool-tip-wrapper {
    position: absolute;
    top: calc(-100% - 22px);
    right: 10px;
    background: $color-gray-600;
    border-radius: 3px;
    padding: 7.5px 12px;
    z-index: 100;
    .tool-tip {
      position: relative;
      color: white;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      white-space: nowrap;

      z-index: 100;
      &:before {
        content: "";
        position: absolute;
        border-radius: 2px;
        bottom: -12px;
        right: 6px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        background: $color-gray-600;
        z-index: 99;
      }
    }
  }
}
