.tab-in-tab{
  padding-left:16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  button{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: #2C3238;
    opacity: 0.4;
    padding:6px 0px;
    margin-right:20px;
    position:relative;
    svg{
      margin-left:4px;
    }
    &.active{
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: #2C3238;
      opacity: 1;
      &:before{
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        height:2px;
        background: #E0205C;
        border-radius: 8px;
      }
    }
  }
}