@import "styles/utils";

.delivery-barcode {
  display: flex;
  flex-direction: column;
  .delivery-barcode-camera {
    img {
      height: 100%;
      width: 100%;
    }
  }
  .delivery-barcode-action {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 260px;
    z-index: 20;
    .scanning-wrapper {
      height: 100%;
      box-shadow: 0px -2px 6px rgba(33, 40, 55, 0.06);
      border-radius: 12px 12px 0px 0px;
      width: 100%;
      background: $color-gray-white;
      padding: 15px 20px 0;

      .scanning-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-text {
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.2px;
          color: $color-gray-900;
        }
      }
    }
    .ab-icon {
      position: absolute;
      border-radius: 50%;
      border: 1px solid $color-gray-300;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      left: 20px;
      bottom: 30px;
    }
  }
}
