@import "styles/utils";

.success-modal-inner {
  background: $color-gray-white;
  width: 100%;
  margin: 0 47px;
  padding: 22px 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22), 0px 7px 10px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  .success-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .success-modal-content {
    padding-top: 12px;
    .content {
      text-align: center;
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      color: $color-gray-600;
    }
    .confirm-button {
      background: $color-primary-400;
      color: $color-gray-white;
      border-radius: 4px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      margin: 0 28.5px;
      margin-top: 22px;
    }
  }
}
