@import "styles/utils";

.attahced-file-text-box {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4.5px 6px;
  background: $color-gray-100;
  border-radius: 15px;

  span.line-ellapse {
    margin-left: 3px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: $color-gray-600;
    letter-spacing: 0.05px;

    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
