@import "styles/utils";

.wo-label-div {
  position: relative;
  .wo-label {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: $color-gray-900;
    margin-bottom: 6px;
  }
  .wo-value {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: $color-gray-900;
    &.border-bottom {
      padding-bottom: 12px;
      border-bottom: 1px solid $color-gray-200;
    }
  }
}
