@import "styles/utils";

.search-keyword-result-serial-no {
  background: white;
  padding: 14px 20px;
  border-bottom: 1px solid $color-gray-100;
  .row {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
    .item-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-900;
    }
    .icon-with-text {
      display: flex;
      align-items: center;
      .location-icon {
        margin-left: 2px;
        svg,
        path {
          fill: $color-primary-500;
        }
      }
      .location-text {
        margin-left: 2px;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        color: $color-primary-500;
      }
    }
    .item-rounded-text {
      margin-left: 10px;
      border-radius: 14px;
      border: 1px solid $color-gray-300;
      padding: 2px 6px;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      color: $color-gray-700;
    }
  }
}
