@import "styles/utils";

.delivery-signature {
  .signature-wrapper {
    width: 100%;
    padding: 24px 20px 20px;
    background: $color-gray-white;
    border-radius: 8px 8px 0px 0px;
    .signature-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 13px;
      .title {
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.2px;
        color: $color-gray-black;
      }
      .close-icon {
        svg,
        path {
          fill: $color-gray-600;
        }
      }
    }
    .sign-pad {
      width: 100%;
      height: 215px;
      background: rgba(255, 185, 65, 0.05);
      border: 1.5px dashed #bec9d4;
      border-radius: 4px;
      margin-bottom: 13px;
    }
    .signature-button {
      border-radius: 3px;
      background: $color-primary-500;
      padding: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      .save-text {
        color: $color-gray-white;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
