@import "styles/utils";

.menu-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  //background: rgba(255, 255, 255, 0.5);
  //backdrop-filter: blur(24px);
  z-index: 9999;
  //min-height: 680px;

  &.mounted {
    //animation: aniMount 0.3s ease-in-out forwards;
  }
  &.unmounted {
    //animation: aniUnmount 0.3s ease-in-out forwards;
  }

  // transform-origin: 28px 28px 0;
  // &.mounted {
  //   animation: aniMountPop 0.3s ease-in-out forwards;
  // }
  // &.unmounted {
  //   animation: aniUnMountPop 0.3s ease-in-out forwards;
  // }

  .menu-header-title {
    font-size: 16px;
    color: $color-gray-900;
    font-weight: 700;
    line-height: 23px;
  }

  .menu-inner {
    margin-top: 56px;
    height: calc(100vh - (56px + 40px + 60px * 2 + 12px + 40px));
    overflow-y: auto;

    .menu-navi {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      ul {
        height: auto;
        margin: auto 28px;
        width: calc(100% - 28px * 2);
        //display: flex;
        //flex-direction: column;
        //justify-content: center;
        //align-items: center;

        // @for $i from 1 to 100 {
        //   li:nth-child(#{$i}) {
        //     animation: menAniPosition 200ms * $i + 10 ease-in-out;
        //   }
        // }
        li {
          width: 100%;
          .menu-link {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            .menu-content {
              width: 160px;
              display: flex;
              align-items: center;
              span {
                margin-left: 16px;
                color: $color-gray-800;
                font-weight: 700;
              }
            }
            &.selected {
              span {
                color: $color-primary-500;
              }
            }
            .select-icon-box {
              display: flex;
              align-items: center;
              justify-self: center;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          &:not(:last-child) {
            border-bottom: 1px solid $color-gray-200;
          }
        }
      }
    }
  }
  .circle-buttons {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    .circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: $color-gray-800;
      display: flex;
      align-items: center;
      justify-content: center;
      &.bg-white {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid $color-gray-300;
      }
      &.bg-gray {
        svg,
        path {
          fill: $color-gray-white;
        }
      }
    }
    .circle + .circle {
      margin-top: 12px;
    }
  }
}

@keyframes menAniPosition {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
