.spNDesc-list{
  padding:14px 20px;
  margin-top:-15px;
  li{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:8px;
    span{
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.05px;
      color: #FFFFFF;
      display: block;
      &:first-child{
        color:#8996A3;
        flex:0 1 50px;
      }
    }
  }
}