@import "styles/utils";

.receipt-detail {
  .receipt-detail-main {
    background: $color-gray-800;
    position: relative;

    .flex-spb {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sticky-header {
      position: sticky;
      top: 0;

      padding: 16px 20px;
      background: $color-gray-800;
      z-index: 20;

      .header-row {
        display: flex;
        align-items: center;

        .date {
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: $color-gray-500;
        }
        .vendor {
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid $color-gray-300;
          border-radius: 15px;
          padding: 1px 6px;
          font-weight: normal;
          font-size: 13px;
          line-height: 20px;
          color: $color-gray-white;
        }
        .title {
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          letter-spacing: -0.2px;
          color: $color-gray-white;
        }
      }
    }

    .content-panel {
      margin-top: -40px;
      padding: 60px 20px 20px;
      background: $color-gray-white;
      border-radius: 4px 4px 0px 0px;

      .content-row {
        display: flex;
        margin-bottom: 30px;

        &.flex-col {
          flex-direction: column;
        }
        .col {
          flex: 1;
          display: flex;
          flex-direction: column;
          padding-bottom: 12px;
          border-bottom: 1px solid $color-gray-200;
          &.no-bb {
            border-bottom: 1px solid transparent;
          }
          .label {
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-900;
            margin-bottom: 6px;

            &.flex-row {
              display: flex;
              align-items: center;

              & > * {
                &:not(:first-child) {
                  margin-left: 4px;
                }
              }
            }
            &.spb {
              justify-content: space-between;
            }
            .reset {
              display: flex;
              align-items: center;
              svg,
              path {
                fill: $color-primary-500;
              }
              .reset-text {
                margin-left: 9px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $color-primary-500;
              }
            }
          }
          .value {
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            color: $color-gray-900;
            flex: 1;
            display: flex;
            align-items: center;

            .ellipsis-text {
              font-weight: normal;
              font-size: 13px;
              line-height: 20px;
              color: $color-gray-600;

              flex: 1;
              &.ellipsis {
                display: -webkit-box;
                -webkit-line-clamp: 1; /* 라인수 */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .ellipsis-icon {
              margin-left: 8px;
              svg,
              path {
                fill: $color-gray-600;
              }
            }
            &.flex-row {
              display: flex;
              flex-direction: row;
              align-items: center;
              &.spb {
                justify-content: space-between;
              }
            }

            .circle {
              display: inline-block;
              padding: 2px 12px;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.15px;
              border-radius: 53px;
              border: 1px solid $color-gray-300;
              &.fill {
                background: $color-gray-50;
              }
            }
          }
          &.flex-row {
            flex-direction: row;
            align-items: center;
            & > * {
              margin-bottom: 0;
            }
            &.spb {
              justify-content: space-between;
            }
            &.same-children > * {
              flex: 1;

              &:not(:first-child) {
                margin-left: 16px;
              }
            }
          }
          .input-value {
            width: 100%;
            border: 1px solid $color-gray-300;
            border-radius: 3px;
            padding: 6px 6px 6px 12px;
            font-weight: normal;
            font-size: 13px;
            line-height: 21px;
            letter-spacing: 0.05px;
            color: $color-gray-900;
            &::placeholder {
              color: $color-gray-500;
            }
            &:focus {
              border: 2px solid $color-gray-800;
              padding: 5px 5px 5px 11px;
            }
          }
        }
        .col + .col {
          margin-left: 16px;
        }
        &.flex-col {
          .col {
            margin-left: 0;
          }
        }
      }
    }
  }
  .footer-white {
    background: $color-gray-white;
    padding: 18px 20px;
  }
  .receipt-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: 100%;
    border: 1px solid $color-gray-300;
    border-radius: 3px;
    background: $color-primary-500;
    .button-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $color-gray-white;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
    &.active {
      background: $color-gray-800;
      border: 1px solid $color-gray-800;
      .button-text {
        color: $color-gray-white;
      }
    }
    &.disabled {
      .button-text {
        opacity: 0.3;
      }
    }
  }
}

.notistack {
  .ok-wrapper {
    display: flex;
    align-items: center;
    .text {
      margin-left: 10px;
    }
  }
}
