@import "styles/utils";

.receipt-search-form {
  .label-input {
    margin-bottom: 30px;
    .label {
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: $color-gray-900;
    }
    .date-input-row {
      display: flex;
      align-items: center;
      .label {
        min-width: 50px;
      }
      .icon-reset-alt {
        svg,
        path {
          fill: $color-gray-600;
        }
      }
      .date-input-rowcol {
        width: 100%;
      }
      .calendar-fromto-type {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 6px;

        .date-calendar-input {
          display: inline-flex;
          align-items: center;
          justify-content: space-around;
          border: 1px solid #bec9d4;
          box-sizing: border-box;
          border-radius: 3px;
          padding: 11px 6px 11px 12px;

          input[type="text"] {
            border: 0;
            width: 100%;
            font-size: 14px;
            line-height: 20px;
            color: $color-gray-900;
            padding: 0 4px 0 6px;
          }

          svg {
            display: block;
          }
          &.input-col {
            &:first-child {
              width: 150%;
            }
            &:last-child {
              width: 100%;
            }
            &:not(:last-child) {
              margin-right: 8px;
            }
          }
        }
        .bar {
          margin: -6px 4px 0;
          color: #c4c4c4;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }
}
