.menu{
  @for $i from 1 to 100 {
    li:nth-child(#{$i}) {
      animation:
        menAniPosition 200ms*$i+10 ease-in-out;
    }
  }
}

@keyframes menAniPosition {
  0%{
    transform:translate3d(-20% ,0,0);
    opacity: 0;
  }
  80%{
    transform:translate3d(0 ,0,0);
    opacity: 1;
  }
  100%{
    transform:translate3d(0 ,0,0);
    opacity: 1;
  }
}
