@import "styles/utils";

.counter-wrap{
  &.typeCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width:36px;
      height:36px;
      background: $color-gray-100;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .count-number{
      font-weight: bold;
      font-size: 60px;
      line-height: 89px;
      text-align: center;
      letter-spacing: 0.05px;
      color: $color-gray-900;
      display: block;
      margin:0 24px;
    }
  }
  &.typeWide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-gray-white;
    border: 1px solid $color-gray-300;
    box-sizing: border-box;
    border-radius: 3px;
    padding:10px 12px;
    &.disabled{
      background: #F5F8FA;
      border: 1px solid #BEC9D4;
    }
    button{
      width:24px;
      height:24px;
      background: $color-gray-100;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .count-number{
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.05px;
      color: #2C3238;
    }
  }
}