@import "styles/utils";

.work-order-bm-diagnosis-check-typeA {
  .infos {
    display: flex;
    align-items: center;
    &.flex-col {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    &:not(:last-child) {
      margin-bottom: 14px;
    }

    .info-line {
      width: 100%;
      display: flex;
      align-items: center;
      &.labeled {
        padding: 0 14px;
      }
      &.self-end {
        justify-content: flex-end;
      }
      .uom {
        color: $color-gray-500;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
      }
      .uom-value {
        color: $color-gray-700;
        font-size: 12px;
        line-height: 19px;
        font-weight: 500;
        margin-left: 5px;
      }
      .info-box {
        width: 100%;
        padding: 6px 2px;
        border: 1px solid $color-gray-300;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:first-child {
          margin-left: 6px;
        }
        &:last-child {
          margin-right: 6px;
        }
        &:not(:last-child) {
          margin-right: 4px;
        }
        .info-title {
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-gray-700;
          font-size: 13px;
          line-height: 15px;
          font-weight: 400;
          text-align: center;
        }
        .info-content {
          display: flex;
          justify-content: center;
          align-items: center;
          .value {
            color: $color-gray-700;
            font-size: 13px;
            line-height: 19.24px;
            letter-spacing: 0.1px;
            font-weight: 700;
          }
          .unit {
            color: $color-gray-500;
            font-size: 12px;
            line-height: 15px;
            font-weight: 400;
            margin-left: 2px;
          }
        }
      }
      .label {
        min-width: 100px;
        color: $color-gray-500;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
      }
      .content {
        color: $color-gray-900;
        font-size: 13px;
        line-height: 19px;
        font-weight: 400;
      }
      .input-content {
        width: 100%;
        color: $color-gray-900;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05px;
        font-weight: 400;
        padding: 6px 12px;
        border: 1px solid $color-gray-300;
        &::placeholder {
          color: $color-gray-400;
        }
        &:focus {
          border: 2px solid $color-gray-800;
        }
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .info-splitter {
    width: 100%;
    height: 1px;
    margin: 12px 0;
    background: $color-gray-200;
  }
}
