@import "styles/utils";

.work-order-step-box {
  background: #ffffff;
  padding: 13px;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
  border-radius: 16px;
  .step-items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    .step-item {
      width: 100%;
      &:not(:first-child) {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          opacity: 0.5;
          height: 1px;
          width: 100%;
          top: 26px;
          left: 0;
          transform: translateX(-50%);
          border: none;
          border-top: 2px dotted $color-gray-300;
        }
      }
      &.all-done {
        &::before {
          border-top: 2px dotted $color-primary-500;
        }
      }

      .work-order-step {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .circle {
          width: 54px;
          height: 54px;
          background: $color-gray-50;
          border: 1px solid $color-gray-300;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .title {
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          font-weight: 500;
          letter-spacing: 1px;
          color: $color-gray-500;
          margin-top: 4px;
        }

        &.done {
          .circle {
            border-width: 2px;
            border-color: $color-primary-500;
            background: $color-gray-white;
            svg,
            path {
              fill: $color-primary-500;
            }
          }
          .title {
            color: $color-gray-800;
          }
        }
      }
      &:active {
        .work-order-step {
          .circle {
            background: $color-primary-500;
            svg,
            path {
              fill: $color-gray-white;
            }
          }
        }
      }
    }
  }
}
