@import "styles/utils";

.dc-online-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  background: $color-gray-50;
  position: sticky;
  top: -7px;
  margin-top: 7px;

  > div {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    label {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1px;
      color: $color-gray-400;
      display: inline-block;
      margin-left: 0;
    }
    > label {
      margin-left: 4px;
    }
  }
}
.dc-online-list-wrap {
  padding: 0 20px 8px;
  .dc-online-list-item {
    background: #ffffff;
    box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.12);
    border-radius: 4px;
    padding: 14px 12px 8px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    &:first-child {
      margin-top: 0;
    }
    .items-row {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 3px;
      .title {
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 1px;
        color: #424952;
        display: inline-block;
        margin: 0 12px;
        max-width: calc(100% - 16px - 60px);
        width: auto;
      }
      .date {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        color: #8996a3;
      }
      .point {
        font-weight: 700;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.05px;
        color: $color-gray-500;
        margin-left: 28px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &:last-child {
        justify-content: space-between;
        margin-bottom: 0;
      }
      .tag-round {
        background: #ffffff;
        box-sizing: border-box;
        border-radius: 53px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.15px;
        padding: 3px 15px;
        &.ok {
          color: $color-gray-800;
          border: 1px solid $color-gray-300;
        }
        &.ng {
          color: $color-primary-500;
          border: 1px solid $color-primary-300;
        }
      }
    }
  }
}
.contents {
  &.dc-online-type {
    height: 100%;
  }
}

.sticky {
  position: sticky;
  top: 56px;
  z-index: 100; /* this is optional and should be different for every project */
}
