@import "styles/utils";

.work-order-list-search-form {
  .label-input {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}

.calendar-fromto-type {
  display: flex;
  align-items: center;
  margin-top: 6px;
  .label {
    min-width: 50px;
  }
  .icon-reset {
    margin-left: 10px;
    svg,
    path {
      fill: $color-gray-600;
    }
  }
  .date-calendar-input {
    width: 100%;
    font-family: SpoqaHanSans;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #bec9d4;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 6px 10px 12px;
    input[type="text"] {
      border: 0;

      font-family: SpoqaHanSans;
      width: 100%;
      font-size: 13px;
      line-height: 20px;
      color: #2c3238;
      padding: 0 4px 0 6px;
    }

    .time {
      font-family: SpoqaHanSans;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: $color-gray-400;
    }
    svg {
      display: block;
    }
  }
  .bar {
    margin: -6px 4px 0;
    color: #c4c4c4;
    font-size: 20px;
    line-height: 24px;

    font-family: SpoqaHanSans;
  }
}
