@import "styles/utils";

.stock-taking-detail {
  .stock-taking-detail-main {
    .sticky-header {
      top: 0;
      position: sticky;
      background: $color-gray-white;
      box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.1);
      padding: 20px;
      z-index: 10;
      .detail-wo {
        display: flex;
        align-items: center;
        .wo-text {
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: -0.1px;
          color: $color-gray-900;
        }
      }
      .detail-desc {
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: $color-gray-600;
      }
    }
    .detail-items {
      padding-top: 10px;
      padding-bottom: 10px;
      .detail-item {
        margin-left: 20px;
        margin-right: 20px;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
  .footer-white {
    background: $color-gray-white;
    .save-button {
      margin: 18px 20px;
      padding: 14px 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      background: $color-gray-800;
      color: $color-gray-white;
      border-radius: 3px;
      cursor: pointer;
      opacity: 0.3;
      &.active {
        opacity: 1;
      }
    }
  }
}
.stocktaking-detail-select-modal {
  .select-wrapper {
    background: $color-gray-white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.22),
      0px -7px 10px rgba(0, 0, 0, 0.12);
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    padding: 28px 20px 48px;
    animation: aniUpDownMount 0.2s ease-in-out forwards;
    .select-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      .header-text {
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
        color: $color-gray-900;
      }
    }
    .select-items {
      .select-item {
        padding: 12px 0;
        &:not(:last-child) {
          border-bottom: 1px solid $color-gray-100;
        }
        .select-item-content {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.05px;
          color: $color-gray-900;
        }
      }
    }
  }
}
