@import "styles/utils";

.alarm-card-plain-panel {
  background: white;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.1);
  border-radius: 5px;
  padding: 14px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .date-time {
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: $color-gray-900;
    }
  }
  .wo-title {
    margin-top: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.05px;
    color: black;
  }
  .alarm-desc {
    margin-top: 2px;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: $color-gray-800;
  }
}
.new-wo-content {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: $color-gray-600;
}
