@import "styles/utils";

.count-circle {
  margin-left: 4px;
  padding: 1px 7px;
  border-radius: 12px;
  background: $color-gray-200;
  height: 18px;
  display: flex;
  align-items: center;
  .circle-text {
    color: $color-gray-800;
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-align: center;
  }
}
