@import "styles/utils";

.sp-requirements-card {
  position:relative;
  &:first-child{
    .list-group-item{
      margin-top:0;
    }
  }
  .work-order-todo-item-typeA{
    position:absolute;
    right:10px;
    top:10px;
    padding:0;
    background:transparent;
    z-index:100
  }
  &.active{
    .list-group-item{
      border: 1px solid $color-secondary-500;
    }
  }
  .list-group-item{
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(33, 40, 55, 0.11), 1px 1px 6px rgba(33, 40, 55, 0.16);
    border-radius: 4px;
    margin-top:8px;
    padding:18px 14px;
    border: 1px solid transparent;
    .list-group-header{
      display:flex;
      justify-content: flex-start;
      align-items: center;
      span{
        font-size: 12px;
        line-height: 19px;
        display: block;
      }
      .title{
        font-weight: bold;
        text-align: right;
        color: $color-gray-800;
        margin-right:20px;
      }
      .text{
        color: $color-gray-700;
        padding:4px 10px;
        background: #E9EFF5;
        border-radius: 30px;
        text-overflow:ellipsis;
        white-space:nowrap;
        word-wrap:normal;
        width:auto;
        max-width:calc(100% - 18px);
        overflow:hidden;
        margin-right:18px;
        em{
          font-weight: 700;
        }
      }
    }
    .list-number-wrap{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top:8px;
      &.div2{
        justify-content: flex-start;
        span{
          width:auto;
          &.bar{
            color:$color-gray-300;
            font-size:12px;
            margin-right:10px;
          }
        }
      }
      span{
        display: block;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: #A5B3C2;
        &.number-title{
          margin-right:14px;
        }
        &.number-text{
          margin-right:16px;
          color: #E0205C;
          font-weight:500;
          &:last-child{
            margin-right:0;
          }
        }

      }
    }
  }
}
.necessary-dot{
  width:4px;
  height:4px;
  border-radius:4px;
  background:$color-primary-500;
  display:inline-block;
  vertical-align: top;
  margin-top:5px;
  margin-left:2px;
}

.list-location{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:11px;
  span{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    i{
      margin-right:2px;
    }
  }
  .number{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: $color-gray-800;
    margin-right:20px;
  }
  .location{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    color: $color-primary-500;
  }
  button{
    background: $color-gray-white;
    border: 1px solid $color-gray-300;
    border-radius: 14px;
    padding:4px 8px;
    font-size: 13px;
    line-height: 20px;
    color: $color-gray-700;
  }
}

.list-return{
  ul{
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top:6px;
      span{
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: $color-gray-500;
        padding:5px 0 6px;
        flex:1 1 200px;
        white-space: nowrap;
        display: block;
      }
      input{
        background: #FFFFFF;
        border: 1px solid $color-gray-300;
        box-sizing: border-box;
        border-radius: 4px;
        width:80px;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 1.4px;
        color: $color-gray-900;
        height:30px;
      }
    }
  }
}