@import "styles/utils";

.delivery-lpn-card {
  background: $color-gray-white;
  border: 1px solid $color-gray-300;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.1);
  border-radius: 4px;
  padding: 14px;
  &:not(:last-child) {
    margin-bottom: 6px;
  }
  &.input-mode {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &.active-mode {
    background: $color-gray-50;
  }
  &.del-mode {
    border: 1px solid $color-status-alert;
  }
  position: relative;
  min-height: 50px;
  .del-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .lpn-header {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    .location {
      display: flex;
      align-items: center;
      svg {
        width: 16px;
        height: 16px;
      }
      svg,
      path {
        fill: $color-primary-500;
      }
      .text {
        margin-left: 2px;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
        color: $color-primary-500;
      }
    }
    .snNo {
      margin-left: 8px;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.05px;
      color: $color-gray-900;
    }
  }
  .lpn-no {
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-600;
    margin-bottom: 8px;
  }
  .lpn-quantity {
    display: flex;
    align-items: center;
    .qa-label {
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-800;
      margin-right: 10px;
    }
    .quantity {
      text-align: right;
      width: 20px;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      letter-spacing: 1.4px;
      color: $color-primary-500;
    }
    .quantity-input {
      width: 57px;
      height: 32px;
      background: $color-gray-white;
      border: 1px solid $color-gray-300;
      border-radius: 4px;
      text-align: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 1.4px;
      color: $color-gray-900;
    }
    .splitter {
      width: 1px;
      height: 12px;
      background: $color-gray-300;
      margin: 0 12px;
    }
  }
}
