@import "styles/utils";

.receipt-card-panel {
  background: $color-gray-white;
  box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.1);
  border-radius: 4px;
  padding: 12px 14px;
  .card-row {
    display: flex;
    align-items: center;
    &.spb {
      justify-content: space-between;
    }
  }
  .card-col {
    display: flex;
    align-items: center;
  }
  .card-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-800;
  }
  .card-dttm {
    background: $color-gray-100;
    border-radius: 3px;
    padding: 2px 8px;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $color-gray-700;
  }
  .card-label {
    margin-right: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-800;
  }
  .card-value {
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-500;
  }
  .circle-text {
    padding: 1px 6px;
    background: $color-gray-100;
    border-radius: 15px;
    display: flex;
    align-items: center;
    .receipt-icon {
      svg,
      path {
        fill: $color-gray-600;
      }
    }
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
  .card-desc-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $color-gray-700;
    margin-right: 3px;
  }
  .card-desc-value {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: $color-gray-700;
  }
}
