@import "styles/utils";
.bmsp-wrap{
  position:relative;
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  margin-top:-7px;
  z-index: 2;
  padding:14px 0 92px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .bmsp-div2{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:32px;
    dl{
      width:40%;
      text-align: center;
      position:relative;
      &:first-child{
        padding-right:43px;
        &:after{
          content:"";
          width:1px;
          height:30px;
          background:#E8EFF5;
          border-radius:3px;
          display: block;
          position:absolute;
          right:0;
          top:0;
        }
      }
      &:last-child{
        padding-left:43px;
      }
      dt{
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $color-gray-500;
      }
      dd{
        margin-top:8px;
        font-size: 18px;
        line-height: 19px;
        text-align: center;
        color: $color-gray-900;
      }
    }
  }

  [class^=label-input]{
    margin-bottom:30px;
  }

  .label-input-else {
    label {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: -0.05px;
      color: $color-gray-900;
      margin-bottom:6px;
      display:block;
    }
  }
  .border3{
    background: #E9EFF5;
    border:0;
    margin:0 -20px;
    height:10px;
    margin-bottom:30px;
  }
}
.bottom-btn-wrap{
  padding:18px 20px;
  background: #fff;
}

.flex-div2{
  display: flex;
  justify-content: space-between;
  align-content: center;
  >div{
    flex:1 0 calc(50% - 4px);
    &:first-child{
      margin-right:4px;
    }
    &:last-child{
      margin-left:4px;
    }
  }
}

.bottom-btn-wrap{
  &.div2{
    >button{
      flex:1 0 calc(50% - 4px);
      &:first-child{
        margin-right:4px;
      }
      &:last-child{
        margin-left:4px;
      }
    }
  }
}

.bmsp-contents{
  padding:40px 20px 0;
}

.issue-wrap{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 20px 0;
  div{
    display:inline-flex;
    justify-content: flex-start;
    align-items: center;
    &:last-child{
      svg{
        margin-right:2px
      }
    }
  }
}

.issue-add{
  padding:10px 0 10px 20px;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  >*{
    margin-left:6px;
    &:first-child{
      margin-left:0;
    }
  }
  &::after{
    content:"";
    width:20px;
    height:10px;
    display: block;
    padding-left:20px;
  }
  .btn-add{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $color-gray-white;
    border: 1px solid $color-gray-300;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    width:70px;
    height:72px;
    box-sizing: border-box;
    min-width: 70px;
    flex:1 1 70px;
    svg{
      margin-bottom:8px;
    }
    &.active{
      border: 2px solid $color-primary-400;
    }
  }


  .created-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: $color-gray-white;
    border: 1px solid $color-gray-300;
    box-sizing: border-box;
    border-radius: 3px;
    padding:10px 18px;
    width: auto;
    position:relative;
    .btn-delete{
      position: absolute;
      right:0;
      top:0;
    }

    &.active{
      border: 1px solid $color-primary-400;
    }
    &.max{
      min-width:140px;
      overflow-x: hidden;
    }
    .up-line{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .card-type{
        padding: 2px 6px;
        border-radius: 20px;
        font-size: 12px;
        line-height: 18px;
        color: $color-gray-white;
        margin-left:2px;
        &:first-child{
          margin-left:0;
        }
        &.unselected{
          background: #A5B3C2;
        }
        &.input-card{
          background:#56606B;
        }
      }
    }

    .description{
      white-space: nowrap;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: $color-gray-900;
      margin-top:8px;
    }
  }
}

.edit-quantity-wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:20px 0 10px;
  border-bottom:1px solid $color-gray-300;
  button{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    svg{
      margin-left:8px;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      letter-spacing: 0.05px;
      color: $color-gray-600;
    }
  }
}

.edit-quantity-modal{
  .eq-list-item{
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
      display: block;
      flex:1 0 45%;
    }
    .counter-wrap{
      flex:1 0 55%;
    }
  }
  .reason-write{
    background:$color-gray-50;
    padding:10px 20px;
    margin:30px -20px 0;
    .label-input-typeC{
      margin-bottom:0;
      label{
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        color: #2C3238;
      }
      .input-box{
        &.input-plain{
          background:#fff;
          textarea{
            min-height:54px;
          }
        }
      }
    }
  }
}