@import "styles/utils";

.date-time-picker {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #bec9d4;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 11px 6px 11px 12px;
  .rc-time-picker {
    display: flex;
  }
  .rc-time-picker-input {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    font-family: SpoqaHanSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.05px;
    padding-left: 23px;
    height: auto;
    color: $color-gray-900;
  }
  .input-button-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.time-picker-inputbox {
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: initial !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  &::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000000;
    opacity: 0.5;
    z-index: 0;
  }
  .rc-time-picker-panel-inner {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    .rc-time-picker-panel-input-wrap {
      padding-top: 26px;
      padding-bottom: 13px;
      margin-bottom: 13px;
      border: none;
      .rc-time-picker-panel-input {
        opacity: 0;
        text-align: center;
        color: $color-gray-black;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        font-family: SpoqaHanSans;
      }
    }
    .rc-time-picker-panel-combobox {
      display: flex;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: 20%;
        border-top: 1px solid $color-gray-300;
        border-bottom: 1px solid $color-gray-300;
      }
      &::after {
        content: ":";
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-gray-black;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        font-family: SpoqaHanSans;
      }
      .rc-time-picker-panel-select {
        width: 100%;
        color: $color-gray-300;
        font-family: SpoqaHanSans;
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        max-height: 180px;
        border: none;

        ul {
          position: relative;
          top: 40%;
          padding-bottom: 40%;
        }
        &:first-child {
          li {
            padding-right: 14px;
            text-align: right;
          }
        }
        &:last-child {
          li {
            padding-left: 14px;
            text-align: left;
          }
        }

        li {
          padding: 7px;
          height: auto;
          font-family: SpoqaHanSans;
          &.rc-time-picker-panel-select-option-selected {
            background: inherit;
            color: $color-gray-black;
            font-weight: 400;
          }
        }
      }
    }
    .time-picker-type-absolute {
      position: absolute;
      left: 20px;
      top: 26px;
      span {
        color: $color-gray-900;
        font-size: 16px;
        font-weight: 700;
        line-height: 23px;
      }
    }
    .button-container {
      margin-top: 13px;
      padding-top: 13px;
    }
  }
}
