@import "styles/utils";

.work-order-sp-circle-text {
  background: $color-gray-200;
  border-radius: 30px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: auto;
}
