@import "styles/utils";

.location-flex {
  display: flex;
  align-items: center;
  .icon-location {
    margin-right: 4px;
  }
  .location-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: $color-gray-700;
  }
}
