.notification-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  flex-wrap: nowrap;
  border-bottom: 1px solid #bec9d4;
  background: rgba(255, 255, 255, 0.6);
  position: relative;
  width:100%;
  //left: 0;
  //right: 0;
  //z-index: 99;
  //top: 56px;
  //opacity: 0;
  //animation-name: alarmTop;
  //animation-delay: 300ms;
  //animation-duration: 6s;
  //animation-direction: normal;

  &.blackType {
    background: rgba(66, 73, 82, 0.8);
    dl {
      dt,
      dd {
        color: #fff;
      }
    }
  }
  .new-notice {
    margin-right: 10px;
    width: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:before {
      top: 0;
    }
  }
  dl {
    width: calc(100% - 66px);
    dt {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.05px;
      color: #424952;
      margin-bottom: 4px;
    }
    dd {
      font-size: 14px;
      line-height: 20px;
      color: #424952;
      opacity: 0.8;
      display: block;
      //text-decoration: none;
      //text-overflow: ellipsis;
      //white-space: nowrap;
      //overflow: hidden;
    }
  }
}
