@import "styles/utils";

.search-button-panel-typeA {
  padding: 15px 20px;
  border-top: 1px solid $color-gray-200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-gray-white;
}
