@import "styles/utils";

.stock-taking-card-panel {
  background: $color-gray-white;
  padding: 14px;
  border-bottom: 1px solid $color-gray-100;
  .row {
    display: flex;
    align-items: center;
    &.spb {
      justify-content: space-between;
    }
    .desc {
      font-weight: normal;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0.05px;
      color: $color-gray-600;
    }

    .col {
      display: flex;
      align-items: center;
      .date {
        margin-left: 4px;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 1px;
        color: $color-gray-600;
      }
      .no {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: $color-gray-900;
      }
      .department {
        margin-left: 12px;
        display: flex;
        align-items: center;

        .text {
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: $color-primary-500;
        }
      }
      .box-text {
        border-radius: 3px;
        background: $color-gray-100;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: $color-gray-700;
        padding: 2px 8px;

        &:not(:last-child) {
          margin-right: 4px;
        }
      }
      .user-circle-name {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: $color-gray-white;
      }
      .user-name {
        margin-left: 3px;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: $color-gray-700;
      }
    }
  }
  .union-icon {
    svg,
    path {
      fill: $color-primary-500;
    }
  }
  .cal-icon {
    svg,
    path {
      fill: $color-gray-500;
    }
  }
  .user-circle-name {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid $color-gray-white;
    width: 28px;
    height: 28px;
    background: $color-contents-normal-b;
    &.bgcolor-1 {
      background: $color-contents-normal-b;
    }
    &.bgcolor-2 {
      background: $color-contents-normal-c;
    }
    &.bgcolor-3 {
      background: $color-contents-normal-d;
    }
    &.bgcolor-4 {
      background: $color-contents-normal-e;
    }
    &.bgcolor-5 {
      background: $color-contents-normal-f;
    }
    &.bgcolor-6 {
      background: $color-contents-normal-g;
    }
  }
  .desc {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
