@import "styles/utils";

.work-order-title-panel {
  min-height: 138px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  &.bm {
    // background: linear-gradient(109.68deg, #ff9797 5.25%, #8b5ded 112.98%);
    // background: url("../../../asset/images/img-bm-banner.svg");
  }
  &.pm {
    // background: linear-gradient(108.29deg, #35de8d 2.23%, #209cad 107.41%);
    // background: url("../../../asset/images/img-pm-banner.svg");
  }
  dl {
    color: #fff;
    > * {
      display: block;
    }
    dt {
      font-size: 12px;
      line-height: 18px;
      color: $color-gray-white;
      opacity: 0.8;
    }

    dd {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      letter-spacing: 1px;
      word-break: break-all;
      width: auto;
    }
  }
  .work-order-badge {
    border: 1px solid #ffffff;
    border-radius: 14px;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: $color-gray-white;
    }
    position: absolute;
    right: 20px;
    top: 16px;
  }
}
