@import "styles/utils";
.daily-tab{
  background: rgba(255, 255, 255, 0.5 );
  box-shadow: 0px 0px 8px rgba(33, 40, 55, 0.12);
  border-radius: 8px;
  margin:0 15px;
  padding:4px 5px;
  position:relative;
  &:before{
    content:"";
    position:absolute;
    left:5px;
    bottom:4px;
    top:4px;
    background: $color-primary-400;
    border-radius: 8px;
    width:calc(50% - 5px);
    transition: 100ms all;
    transition-timing-function: ease;
  }
  &.moving{
    &:before{
      left:50%;
    }
  }
  button{
    width:50%;
    padding:4px 0 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    background: transparent;
    &.on{
      .title{
        color:$color-gray-white;
      }
      .total{
        background: $color-gray-white;
        color: $color-primary-400;
      }
    }
    .title{
      font-size: 12px;
      line-height: 18px;
      color:#6B7682;
      letter-spacing: 1px;
      transition: all 50ms;
      transition-delay: 50ms;
    }
    .total{
      background: $color-gray-100;
      border-radius: 12px;
      font-weight: bold;
      font-size: 10px;
      line-height: 19px;
      letter-spacing: 0.1px;
      color: $color-gray-800;
      position:absolute;
      right:10px;
      top:5px;
      padding:0 7px;
    }
    svg{
      transition: all 10ms;
      transition-delay: 50ms;
    }
    &:first-child{
      .total{
        display:none;
      }
    }
  }
}
