@import "styles/utils";

.work-order-op-result-register {
  .main-inner {
    .result-items {
      padding: 0 20px;
      margin-top: 40px;
      margin-bottom: 35px;
      .result-item {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
  .footer-white {
    background: $color-gray-white;
    .inner {
      padding: 18px 20px;
      box-shadow: 0px -1px 10px rgba(40, 45, 51, 0.04);

      .save-button {
        padding: 14px;
        background: $color-gray-800;
        border-radius: 3px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 23.68px;
        color: $color-gray-white;
      }
    }
  }
}
