@import "styles/utils";

.work-order-step-button-typeB {
  width: 100%;
  padding: 13px 8px;
  border: 1px solid $color-gray-300;
  border-radius: 3px;
  opacity: 0.3;
  span {
    color: $color-gray-800;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }
  &.alert {
    background: $color-primary-500;
    span {
      color: $color-gray-white;
    }
  }
  &.gray {
    background: $color-gray-800;
    span {
      color: $color-gray-white;
    }
  }
  &.active {
    opacity: 1;
  }
}
