@import "styles/utils";

.bm-operation-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .bm-operation-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-gray-800;
    height: 56px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 2;
    width: 100%;
    .btn-bm-close {
      padding: 16px 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: auto;
    }
    h1 {
      width: 100%;
      padding-right: 62px;
      font-weight: 700;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      color: #ffffff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      svg {
        margin-right: 4px;
      }
    }
  }
  .bm-dark-box {
    width: 100%;
    height: auto;
    background: $color-gray-800;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    padding-top: 18px;
    padding-bottom: 7px;
    .now-s-title {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: #a5b3c2;
      padding: 0 20px;
    }
    .now-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 18px 16px;
      .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.1px;
        color: $color-gray-white;
      }
      .time-tag {
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
        color: $color-gray-white;
        background: $color-contents-normal-b;
        border: 1px solid $color-contents-normal-b;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0px 4px;
      }
      button {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        width: 28px;
        height: 28px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .select-date-tag {
    padding: {
      left: 20px;
      bottom: 14px;
    }
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    &::after {
      content: ".";
      width: 14px;
      height: 14px;
      display: block;
      color: $color-gray-800;
    }
    button {
      display: block;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0.1px;
      color: #ffffff;
      border: 1px solid $color-gray-600;
      border-radius: 4px;
      padding: 10px 15px;
      margin-right: 14px;
      &.active {
        background: #e9eff5;
        color: #56606b;
      }
    }
  }
  .work-order-list-main {
    padding: 0;
    height: auto;
    min-height: auto;
    .work-order-result-card-typeA {
      border-radius: 4px;
      &.pm-type,
      &.bm-type {
        &:before {
          display: none;
        }
      }
    }
  }
}
.bm-detail-box {
  position: relative;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
  margin-top: -7px;
  z-index: 2;
  padding: 40px 0 92px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .bmdb-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      color: $color-gray-900;
      padding: 0 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .total-user {
        background: $color-gray-100;
        border-radius: 12px;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.1px;
        color: $color-gray-800;
        padding: 1px 5px;
        display: block;
        min-width: 20px;
        margin-left: 5px;
      }
    }
  }
  .time-list {
    margin: 0 20px;
    dt {
      font-weight: normal;
      font-size: 12px;
      line-height: 19px;
      color: $color-gray-500;
      display: none;
    }
    dd {
      display: flex;
      border-bottom: 1px solid $color-gray-200;
      justify-content: flex-start;
      align-items: center;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: $color-gray-900;
      padding: 14px 0 13px;
      &:nth-of-type(1) {
        padding-top: 3px;
      }
      &:last-child {
        border-bottom: 0;
      }
      span {
        margin-right: 10px;
      }
      .txt-minute {
        margin-left: auto;
        display: block;
        font-size: 12px;
        line-height: 20px;
        text-align: right;
        color: $color-gray-400;
        margin-right: 0;
      }
    }
  }
  .border8 {
    border: 0;
    border-top: 8px solid $color-gray-50;
  }
}
.bmdb-worker-round-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 28px;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  &::after {
    content: "";
    min-width: 20px;
    height: 10px;
    display: block;
  }
  div {
    width: calc(25% - 16px);
    margin: 0 8px 20px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: $color-gray-800;
      &:first-child {
        width: 60px;
        height: 60px;
        position: relative;
        border-radius: 30px;
        font-weight: 700;
        font-size: 23px;
        line-height: 20px;
        color: $color-gray-white;
        margin-bottom: 6px;
        border: 2px solid transparent;
      }
      &:last-child {
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-word;
      }
    }
    &:nth-of-type(n) {
      span {
        &:first-child {
          background: #b280ff;
        }
      }
    }
    &:nth-of-type(2n) {
      span {
        &:first-child {
          background: #fe7a7a;
        }
      }
    }
    &:nth-of-type(3n) {
      span {
        &:first-child {
          background: #ffbf6b;
        }
      }
    }
    &:nth-of-type(4n) {
      span {
        &:first-child {
          background: #67e09c;
        }
      }
    }
    &:nth-of-type(5n) {
      span {
        &:first-child {
          background: #77a5ff;
        }
      }
    }
    &:nth-of-type(6n) {
      span {
        &:first-child {
          background: #f68ad6;
        }
      }
    }
    &.active {
      span {
        &:first-child {
          border-color: $color-secondary-500;
          &:before {
            content: "";
            width: 24px;
            height: 24px;
            background: url(../../../asset/images/ic-secondary-check.svg)
              no-repeat center 0;
            position: absolute;
            right: -5px;
            top: -5px;
          }
        }
      }
    }
  }
}

.bm-card-list-box {
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
  margin-top: -9px;
  position: relative;
  z-index: 2;
  padding: 0 0 22px;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.bm-date-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: $color-gray-800;
  padding: 28px 20px 0;
  position: relative;
  .icon-calendar {
    background: $color-gray-600;
    border-radius: 30px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
  }
  .worker-round-list {
    position: relative;
    width: 100%;
    &::after {
      content: "";
      min-width: 20px;
      height: 10px;
      display: block;
    }
    .time-label {
      background: #e9eff5;
      border: 1px solid #e9eff5;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      font-weight: normal;
      color: #56606b;
      position: absolute;
      right: 0;
      top: 5px;
      display: inline-block;
      width: auto;
      padding: 1px 4px;
    }
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      position: relative;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 14px;
        color: $color-gray-800;
        &:first-child {
          width: 36px;
          height: 36px;
          position: relative;
          border-radius: 30px;
          font-weight: normal;
          font-size: 12px;
          line-height: 20px;
          color: $color-gray-white;
          border: 2px solid transparent;
          flex: 0 1 36px;
        }
        &:last-child {
          width: calc(100% - 42px);
          display: block;
          text-align: left;
          margin-left: 6px;
          font-size: 14px;
          font-weight: 700;
        }
      }

      &.color01 {
        span {
          &:first-child {
            background: #b280ff;
          }
        }
      }
      &.color02 {
        span {
          &:first-child {
            background: #fe7a7a;
          }
        }
      }
      &.color03 {
        span {
          &:first-child {
            background: #ffbf6b;
          }
        }
      }
      &.color04 {
        span {
          &:first-child {
            background: #67e09c;
          }
        }
      }
      &.color05 {
        span {
          &:first-child {
            background: #77a5ff;
          }
        }
      }
      &.color06 {
        span {
          &:first-child {
            background: #f68ad6;
          }
        }
      }
    }
  }
}

.line20 {
  border: 0;
  height: 20px;
  margin: 40px -20px 0 -20px;
  background: $color-gray-50;
}

.bm-history-list {
  padding: 0 20px;
  dl {
    background: #ffffff;
    border-radius: 5px;
    //filter: drop-shadow(1px 2px 3px rgba(33, 40, 55, 0.12));
    box-shadow: 1px 2px 3px rgba(33, 40, 55, 0.12);
    margin-top: 12px;
    padding: 15px;
    dt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $color-gray-600;
      margin-bottom: 3px;
      span {
        &:last-child {
          color: $color-gray-400;
          font-weight: 400;
        }
      }
    }
    dd {
      font-size: 14px;
      line-height: 23px;
      letter-spacing: 0.05px;
      color: $color-gray-black;
    }
  }
}

.ot-bg {
  background: #fff;
}
