@import "styles/utils";

.nfc-popup-wrapper{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background: $color-gray-white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 14px 20px 0;
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    h1 {
      font-size: 16px;
      font-weight: 700;
      line-height: 23px;
      color: $color-gray-900;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      svg{
        margin-right:4px;
      }
    }
    button {
      border: none;
      outline: none;
      padding: 6px;
      color: $color-gray-800;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.15px;
    }
  }
  .img-nfc-wrap{
    padding-top:29px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    p{
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #26B9D1;
      position: relative;
      z-index: 2;
    }
    img{
      vertical-align: bottom;
      margin-top:-81px;
      position: relative;
      z-index: 1;
    }
  }
}
