@import "styles/utils";

.items-row-alt {
  padding-left: 28px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  &.no-sb {
    justify-content: flex-start;
  }
  &.flex-sb {
    justify-content: space-between;
  }

  .item-description {
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.05px;
    color: $color-gray-600;
    word-break: break-all;
  }

  .item-round-type {
    background: $color-gray-100;
    border-radius: 15px;
    padding: 1px 6px;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: $color-gray-700;
    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  .title {
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    color: $color-gray-800;
  }
  .date {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: $color-gray-500;
    margin-left: 12px;
  }
}

.dc-online-list-item {
  position: relative;
}

.rounded-point {
  padding: 4px 8px;
  background: white;
  border: 1px solid $color-gray-300;
  border-radius: 20px;
}

.dc-check-box {
  position: absolute;
  top: 16px;
  left: 11px;
}
