@import "styles/utils";

.alarm-section {
  padding: 40px 20px;
  .date-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $color-gray-800;
    margin-bottom: 14px;
  }
}
