@import "styles/utils";

.label-input-typeC {
  margin-bottom: 43px;
  label {
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.05px;
    color: $color-gray-900;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    svg {
      margin-right: 4px;
    }
  }
  .input-box {
    position: relative;
    margin-top: 6px;
    width: 100%;
    border: 1px solid $color-gray-300;
    border-radius: 3px;

    &.active {
      border: 2px solid $color-gray-800;
    }

    .input-box-row {
      display: flex;
      align-items: center;
      overflow-x: auto;
      padding-left: 12px;

      textarea {
        padding: 11px 0;
        width: 100%;
        min-height: 120px;
        outline: 0;
        border: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.05px;
        caret-color: $color-primary-500;
        resize: none;
        &::placeholder {
          color: $color-gray-400;
        }
        &:focus {
          border: none;
        }
      }
    }
    &.active {
      .input-box-row {
        padding-left: 11px;
        textarea {
          padding: 10px 0;
        }
      }
    }
  }
}
