@mixin button-color($color) {
  background: $color;
  &.outline {
    color: $color;
    background: transparent;
    border: 1px solid $color;
  }

  &.text-only {
    color: $color;
    background: transparent;
  }
}

.btn {
  display: inline-flex;
  color: white;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  padding: {
    left: 1rem;
    right: 1rem;
  }
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.large {
    height: 52px;
    font-size: 16px;
    padding: {
      top: 14px;
      bottom: 14px;
    }
  }
  &.medium {
    height: 48px;
    font-size: 14px;
    padding: {
      top: 14px;
      bottom: 14px;
    }
  }
  &.small {
    height: 32px;
    font-size: 14px;
    padding: {
      top: 4px;
      bottom: 4px;
    }
  }

  &.outlineGray {
    color: $color-gray-800 !important;
    border: 1px solid $color-gray-300 !important;
    background: $color-gray-white !important;
  }

  &[disabled] {
    cursor: default;
    opacity: .3;
  }

  &.primary {
    @include button-color($color-primary-500);
  }
  &.secondary {
    @include button-color($color-secondary-500);
  }
  &.gray {
    @include button-color($color-gray-800);
  }
  &.text-only-gray {
    color: $color-gray-800;
    background: transparent;
  }
  &.text-only-secondary {
    color: $color-secondary-500;
    background: transparent;
  }
  &.text-only-primary {
    color: $color-primary-500;
    background: transparent;
  }
  &.disabled {
    @include button-color(#bdbdbd);
    cursor: default;
  }

  [disabled] {
    opacity: 0.7;
  }

  &.fullWidth {
    width: 100%;
    justify-content: center;
    & + & {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
