@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../../asset/fonts/noto-sans-kr-v12-korean-100.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Thin"), local("NotoSansKR-Thin"),
    url("../../asset/fonts/noto-sans-kr-v12-korean-100.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../asset/fonts/noto-sans-kr-v12-korean-100.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../asset/fonts/noto-sans-kr-v12-korean-100.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../../asset/fonts/noto-sans-kr-v12-korean-100.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-300 - korean */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../../asset/fonts/noto-sans-kr-v12-korean-300.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Light"), local("NotoSansKR-Light"),
    url("../../asset/fonts/noto-sans-kr-v12-korean-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../asset/fonts/noto-sans-kr-v12-korean-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../asset/fonts/noto-sans-kr-v12-korean-300.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../../asset/fonts/noto-sans-kr-v12-korean-300.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../asset/fonts/noto-sans-kr-v12-korean-regular.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
    url("../../asset/fonts/noto-sans-kr-v12-korean-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../asset/fonts/noto-sans-kr-v12-korean-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../asset/fonts/noto-sans-kr-v12-korean-regular.woff")
      format("woff"),
    /* Safari, Android, iOS */
      url("../../asset/fonts/noto-sans-kr-v12-korean-regular.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../../asset/fonts/noto-sans-kr-v12-korean-500.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"),
    url("../../asset/fonts/noto-sans-kr-v12-korean-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../asset/fonts/noto-sans-kr-v12-korean-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../asset/fonts/noto-sans-kr-v12-korean-500.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../../asset/fonts/noto-sans-kr-v12-korean-500.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../asset/fonts/noto-sans-kr-v12-korean-700.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Bold"), local("NotoSansKR-Bold"),
    url("../../asset/fonts/noto-sans-kr-v12-korean-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../asset/fonts/noto-sans-kr-v12-korean-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../asset/fonts/noto-sans-kr-v12-korean-700.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../../asset/fonts/noto-sans-kr-v12-korean-700.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}
/* noto-sans-kr-900 - korean */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../../asset/fonts/noto-sans-kr-v12-korean-900.eot"); /* IE9 Compat Modes */
  src: local("Noto Sans KR Black"), local("NotoSansKR-Black"),
    url("../../asset/fonts/noto-sans-kr-v12-korean-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../asset/fonts/noto-sans-kr-v12-korean-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../asset/fonts/noto-sans-kr-v12-korean-900.woff") format("woff"),
    /* Safari, Android, iOS */
      url("../../asset/fonts/noto-sans-kr-v12-korean-900.svg#NotoSansKR")
      format("svg"); /* Legacy iOS */
}

/* SpoqaHanSansThin-100 - korean */
@font-face {
  font-family: "SpoqaHanSans";
  font-style: normal;
  font-weight: 100;
  src: url("../../asset/fonts/SpoqaHanSansThin.ttf");
  src: url("../../asset/fonts/SpoqaHanSansThin.woff2") format("woff2"),
    url("../../asset/fonts/SpoqaHanSansThin.woff") format("woff");
}
/* SpoqaHanSansThin-300 - korean */
@font-face {
  font-family: "SpoqaHanSans";
  font-style: normal;
  font-weight: 300;
  src: url("../../asset/fonts/SpoqaHanSansLight.ttf");
  src: url("../../asset/fonts/SpoqaHanSansLight.woff2") format("woff2"),
    url("../../asset/fonts/SpoqaHanSansLight.woff") format("woff");
}
/* SpoqaHanSansThin-400 - korean */
@font-face {
  font-family: "SpoqaHanSans";
  font-style: normal;
  font-weight: 400;
  src: url("../../asset/fonts/SpoqaHanSansRegular.ttf");
  src: url("../../asset/fonts/SpoqaHanSansRegular.woff2") format("woff2"),
    url("../../asset/fonts/SpoqaHanSansRegular.woff") format("woff");
}

@font-face {
  font-family: "SpoqaHanSans";
  font-style: normal;
  font-weight: 700;
  src: url("../../asset/fonts/SpoqaHanSansBold.ttf");
  src: url("../../asset/fonts/SpoqaHanSansBold.woff2") format("woff2"),
    url("../../asset/fonts/SpoqaHanSansBold.woff") format("woff");
}
