@import "styles/utils";

.delivery-lpn {
  .delivery-lpn-main {
    background: $color-gray-white;
    .sticky-header {
      top: 0;
      position: sticky;
      background: $color-gray-white;
      box-shadow: 1px 1px 6px rgba(33, 40, 55, 0.1);
      padding: 20px;
      z-index: 10;
      .lpn-title {
        display: flex;
        align-items: center;
        .text {
          font-weight: bold;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: -0.1px;
          color: $color-gray-900;
        }
      }
      .lpn-desc {
        margin-top: 4px;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        letter-spacing: 0.05px;
        color: $color-gray-600;
        word-break: break-all;
      }
      .lpn-quantity-dashboard {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 20px;
        background: $color-gray-50;
        border-radius: 4px;
        .dashboard-col {
          width: 122px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .splitter {
          width: 1px;
          height: 12px;
          background: $color-gray-300;
          margin: 0 16px;
        }
        .lpn-dashboard-label {
          font-weight: normal;
          font-size: 13px;
          line-height: 21px;
          letter-spacing: 0.05px;
          color: $color-gray-800;
        }
        .lpn-primary {
          font-weight: normal;
          font-size: 13px;
          line-height: 21px;
          text-align: right;
          letter-spacing: 0.05px;
          color: $color-primary-500;
        }
      }
    }
    .lpn-items {
      padding: 20px;
    }
  }
  .footer-white {
    background: $color-gray-white;
    .buttons {
      margin: 18px 20px;
      display: flex;
      align-items: center;
      button {
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
      .barcode-button {
        border: 1px solid $color-gray-300;
        border-radius: 3px;
        padding: 6px 10px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .save-button {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        background: $color-gray-800;
        color: $color-gray-white;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
}
